[2017-08-21 21:19] kratosok commented on #3880
disabling Autoupdate and trying again.

[2017-08-22 03:23] sjackman commented on #3880
You can also `git commit` your change to `os.rb` to prevent it from being overwritten.
[code]

[2017-08-22 04:57] sjackman commented on #3928
Try `brew edit krb5` and change `openssl` to `openssl@1.1` then
[code]
If that works, can you please submit a PR to change `krb5`?

[2017-08-22 19:56] andrewyatz commented on #3928
Just tried. Openssl barfs

[code]

[2017-08-22 21:19] gastaldi opened #3954 "Cannot install source-to-image formula in Linux: No such file or directory - _output/local/bin/darwin/amd64/s2i"
-  [X] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate the problem on macOS with Homebrew, please report the issue to [Homebrew/core](https://github.com/Homebrew/homebrew-core) and fol

[2017-08-22 22:48] sjackman commented on #3928
Try removing the `krb5` dependency from `ansible`.

[2017-08-23 00:16] sjackman commented on #3954
I've opened PR https://github.com/Linuxbrew/homebrew-core/pull/3957 to hopefully address this build failure.

[2017-08-23 00:16] #3954 closed

[2017-08-23 17:12] andrewyatz commented on #3928
The current ansible still has the openssl 1.1 dependency that fails same as above

[2017-08-23 18:10] sjackman commented on #3928
Try…
[code]

[2017-08-23 22:04] andrewyatz commented on #3928
Just tried that and still nothing. The openssl 1.1 build is still the issue. Feels like I should be opening an issue with openssl now as this seems like it's beyond just a linuxbrew issue. Not sure why others have not seen this before

[code]

[2017-08-23 22:47] sjackman commented on #3928
Thanks for the output of `HARNESS_VERBOSE=yes make test`. That's helpful. Here's the source code for `util/shlib_wrap.sh`. Running it interactively could be useful for troubleshooting.
https://github.com/openssl/openssl/blob/master/util/shlib_wrap.sh.in

[2017-08-23 22:47] sjackman commented on #3928
Consider installing Linuxbrew in `/home/linuxbrew/.linuxbrew/` if possible so that you can use precompiled binary packages (known as bottles) for non-relocatable formula like `openssl@1.1`.
Another possible workaround for you is `brew install --force-bottle openssl@1.1`, but no promises.

[2017-08-24 08:47] andrewyatz commented on #3928
Output from `shlib_wrap.sh.in`

[code]

[2017-08-24 16:34] sjackman commented on #3928
Try running `shlib_wrap.sh` as in the failed test above:
[code]

[2017-08-24 16:36] sjackman commented on #3928
I've bottled `ansible` in PR #3962 and removed the `krb5` dependency. Are you able to install Linuxbrew in `/home/linuxbrew/.linuxbrew/`? That's the default now if you have `sudo` access.

[2017-08-24 22:57] kratosok commented on #3880
Hmm, I may have hit an untenable issue.  the above gets brew to run. Any brew command now errors about glibc (Because glibc isn't part of cygwin, It uses newlib instead).

[code]

[2017-08-25 01:13] sjackman commented on #3880
As a hack, try…
[code]

[2017-08-25 02:06] sjackman commented on #3366
Resolved by https://github.com/Homebrew/brew/pull/2998

[2017-08-25 02:06] #3366 closed

[2017-08-25 09:44] andrewyatz commented on #3928
Output from shlib_wrap.sh

[code]

[2017-08-25 09:45] andrewyatz commented on #3928
Also I'm not able to test the ansible bottle if it requires to be installed in `/home/linuxbrew/.linuxbrew` as I'm installing into a compute farm environment. So linuxbrew isn't really a user I can install to and I don't have sudo access

[2017-08-25 14:41] kratosok commented on #3880
That gets rid of the glibc error in brew commands:
[code]

Brew install now reports it's unable to locate system's ld.so
[code]

[2017-08-25 15:48] sjackman commented on #3880
Sorry, that should have been `@system_version = "2.23"` or even `@system_version = "2.99"`. We're upgrading `glibc` today from 2.19 to 2.23.

[2017-08-25 15:54] sjackman commented on #3880
Create a symlink `$(brew --prefix)/lib/ld.so`:
[code]

A code fix would be something like:
[code]

[2017-08-25 16:52] kratosok commented on #3880
Added the symlink, Suspicious failure occurs in brew install hello:

[code]

[2017-08-25 18:28] sjackman commented on #3880
Try this patch to give you a more informative error message
[code]

[2017-08-25 19:14] kratosok commented on #3880
Made the change, results in:

[code]

[2017-08-25 19:19] sjackman commented on #3880
Sorry, I had a typo. It should have been
Try this patch to give you a more informative error message
[code]

[2017-08-25 19:22] kratosok commented on #3880
Revised Changes:
[code]

[2017-08-25 19:29] sjackman commented on #3880
`fork` is failing, and `fork` is tricky on Cygwin.
https://www.cygwin.com/faq.html#faq.using.fixing-fork-failures
https://www.cygwin.com/faq.html#faq.api.fork

How did you install `ruby`?
[code]

We've run into an issue here that may be tricky to troubleshoot and debug. I think we've hit the end of the line. If you're able to resolve this issue, we'd welcome a PR to bring Linuxbrew to Cygwin.

[2017-08-25 21:48] kratosok commented on #3880
Ruby was installed from the cygwin packages. I'll poke around and see if I can find a solution. I appreciate the help regardless.

[2017-08-25 22:06] sjackman commented on #3880
No worries. I'm going to close this issue, but feel free to continue commenting if you learn anything.

[2017-08-25 22:06] #3880 closed

[2017-08-28 10:31] hotkidfamily opened #4029 "OpenCV: build error with 3, but 2 work well"
https://gist.github.com/anonymous/46f6ae73dcaab2f4a9ccbb93820002dc#file-opencv-2017-08-28_18-20-44-txt

[2017-08-29 00:42] NickTseng commented on #3046
brew upgrade --force-bottle openssl@1.1

[2017-08-29 02:17] tseemann commented on #3046
I eventually just got it to install with `brew upgrade openssl@1.1` -- there seemed to be a bottle, which worked.

[2017-08-29 19:00] nickjhathaway commented on #3361
So I have a related problem in that glibc is failing to install but for a different issue. The only problem I can find is the following message when running

[code]

[code]

gist here https://gist.github.com/anonymous/989d3ffe6b983a4d0d1c85914d6d0e3b

A confounding problem I'm running into is that when I run

[code]

I choose the option to ignore since this is just an error about dangerous syntax

[2017-08-30 15:37] iMichka commented on #4029
I just built bottles (#4016). Please update an tell me if it works for you. Thanks

[2017-08-30 20:40] iMichka opened #4065 "Revisions after boost update for gcc5"
- [x] cgal https://github.com/Linuxbrew/homebrew-core/pull/4063
- [ ] ome-files https://github.com/Homebrew/homebrew-science/pull/6254
- [ ] rapsearch2 https://github.com/Homebrew/homebrew-science/pull/6201
- [x] trinity https://github.com/Homebrew/homebrew-science/pull/6263
- [ ] ome-common https://github.com/Homebrew/homebrew-science/pull/6258
- [ ] pykep https://github.com/Homebrew/homebrew-sci

[2017-08-31 06:52] sjackman commented on #3361
Thanks for the workaround, Nick! You could if you liked open a PR to add…
[code]

[2017-08-31 16:14] tueda opened #4077 "glibc: Requires GCC 4.7 or later"
Is it currently supported to install `glibc` on rather old systems without root access?

I am working with an old Linux (SLC 6.8 where gcc verson is 4.4.7 and glibc is 2.12) without root privileges (so I can't use the glibc bottle with `/home/linuxbrew/.linuxbrew/`). I tried for a fresh installation of Linuxbrew by the official installation script, which created `~/.linuxbrew`. Then `brew install

[2017-08-31 16:35] tueda commented on #4077
Forgotten to mention: I succeeded to install a bit older glibc as
[code]
But then `brew install <other formula>` easily triggers upgrading glibc to 2.23, giving a failure. Maybe I could always put `--ignore-dependencies` and manually resolve all dependencies, but this is annoying.

[2017-08-31 17:24] tueda commented on #4077
OK. I found a way to circumvent the build error: installing glibc 2.20 -> gcc 5.3 -> glibc 2.23:
[code]
where only glibc is installed from the source and the others are installed from the bottles.

Though it would be very nice if Linuxbrew can handle these tricky building steps, if there is no way to improve it, maybe you can close this issue.

[2017-09-01 14:14] rwhogg commented on #1081
I think this is now resolved.

[2017-09-01 15:16] iMichka commented on #4029
I'll just close this for the moment, as I think OpenCV builds fine. If note; please provide a new gist log so I can investigate. Thanks

[2017-09-01 15:16] #4029 closed

[2017-09-02 00:34] sjackman commented on #4065
Thanks, Michka!

[2017-09-02 00:37] sjackman commented on #4077
Consider installing Linuxbrew in `/home/linuxbrew/.linuxbrew/` if possible so that you can use precompiled binary packages (known as bottles) for non-relocatable formula like `glibc`.
Another possible workaround for you is `brew install --force-bottle glibc`, but no promises that will work. I haven't tried it myself.

The precompiled binary bottles of non-relocatable bottles can only be used if yo

[2017-09-02 00:41] sjackman commented on #4077
Thanks for the detailed bug report, Takahiro! Yes, we would like to support installing Linuxbrew on older systems that have only GCC 4.4. If you install to `/home/linuxbrew/.linuxbrew` that works. Installing in your home directory evidently does not currently work.

The following somewhat simpler installation instructions may work for you:
[code]

If you can confirm that works, I'll see if I can m

[2017-09-02 09:25] lblaine commented on #4077
I've also hit his issue while trying to make some old RHEL 6.5 systems functional, where I don't have root access.  I'm confirming that out of everything listed here so far, the only option that works is the workaround by @tueda of installing glibc 2.20 first and then upgrading.

The bottled version of glibc fails to pour in a user homedir install - as expected, it gives relocation errors.

[2017-09-02 10:13] tueda commented on #4077
Thanks for the suggestions. It turned out that my solution in the above doesn't save my old system: `brew test gcc` fails as
[code]
I'm not sure what is the problem there. For now, what I'm using is building glibc 2.20 and making Linuxbrew think it it the latest one:
[code]
With this hack `brew test gcc` passes and up to now no problem for installing other programs.

Anyway I will try for the othe

[2017-09-02 18:31] sjackman commented on #4077
What problem do you run into with this path?
[code]
Next week when I'm back at work I'll give this a shot myself.

[2017-09-02 19:29] tueda commented on #4077
[code]
This triggers building glibc and fails. To avoid this, I tried
[code]
which failed with some strange error:
[code]
The complete log is: https://gist.github.com/b9581e9254fca41f391e9115ea53d728

The other option `brew install --force-bottle glibc` caused
[code]
then switched to building glibc and failed.

[2017-09-03 15:39] sjackman commented on #4077
Try…
[code]

[2017-09-03 18:10] iarkaroy opened #4120 "ERROR: Failed to build PhantomJS! Configuration of Qt Base failed."
Failed to install phantomjs.
Tried by running (as per phantomjs build instruction).
[code]
brew gist-logs phantomjs
[https://gist.github.com/anonymous/8c6c3f037e4e7ca786816d8d0c3f1ef1](https://gist.github.com/anonymous/8c6c3f037e4e7ca786816d8d0c3f1ef1)

[2017-09-04 01:36] lblaine commented on #4077
HOMEBREW_BUILD_FROM_SOURCE=1 brew install gcc --without-glibc
produces:
checking for uintptr_t... yes
checking for int64_t underlying type... long long
configure: error: error verifying int64_t uses long long
make[2]: *** [configure-stage1-gcc] Error 1
make[2]: Leaving directory `/tmp/gcc-20170903-4022-snbmtw/gcc-5.3.0/build'
make[1]: *** [stage1-bubble] Error 2
make[1]: Leaving directory `/tmp/gc

[2017-09-04 18:29] tueda commented on #4077
On my system `--enable--multilib` seems not to work. So I put `--disable-multilib` via `brew edit gcc`. Then
[code]
succeeded. But after `brew install glibc` (which also succeeded) `brew test gcc` failed like
[code]
Running `gcc some-test-file.c` gave a segmentation fault. I guess it is simply a version mismatch of glibc...

By the way, during the installation of the dependencies, I saw a warning:

[2017-09-05 16:52] sjackman commented on #4077
@lblaine Please report `brew gist-logs gcc`

[2017-09-05 16:53] sjackman commented on #4077
@tueda Please report
[code]

[2017-09-05 17:59] sjackman commented on #4120
[code]
https://gist.github.com/anonymous/8c6c3f037e4e7ca786816d8d0c3f1ef1#file-01-build-py-L37
See https://github.com/Linuxbrew/homebrew-core/pull/3824

In principle it should be resolved by
[code]
but that didn't work. You may have to specify the location of the `icu4c` library to the `configure` script. If you're able to resolve this issue, a pull request would be welcome.

[2017-09-05 17:59] #4120 closed

[2017-09-05 21:01] tueda commented on #4077
[code]

[2017-09-06 21:03] sjackman commented on #4077
There was a typo above it should have been
[code]

[code]
That should be `/.linuxbrew/lib/ld.so`. I'm not sure why it's wrong. Try
[code]

[2017-09-07 21:51] tueda commented on #4077
[code]
I tried for `brew reinstall gcc`, which put `--without-glibc` and failed: https://gist.github.com/ce0d1bf5303c649adcbd995c65cfb034.

`brew reinstall gcc --with-glibc` ignores ` --with-glibc` and can't overwrite `--without-glibc`. Maybe I should uninstall gcc and then reinstall gcc with glibc enabled(?)

[2017-09-07 22:37] randy3k commented on #4077
I had a similar issue and @tueda's trick of installing an older version of `glibc` works for me.
[code]

[2017-09-08 15:49] zbeekman opened #4158 "gcc stuck at 5"
# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [x] If you have a macOS system and can replicate the problem on macOS with Homebrew, please report the issue to [Homebrew/core](https://github.

[2017-09-08 15:52] zbeekman commented on #4158
perhaps this issue is not formula specific and should be filed under the main linuxbrew repo, I'm not sure what the protocol is here.

[2017-09-09 17:40] jakelever commented on #4077
I've also come across the same problem on Centos 6 (with GCC 4.4.7)

Based on @tueda's idea to build an old version of glibc first and work from there, I found the following code works. It checks out a specific version of the glibc formula, installs gcc (with old glibc) and forces no update. Then reverts to new version of glibc and builds that. brew test gcc passes for me.

[code]

[2017-09-09 18:23] randy3k commented on #4077
I used @tueda's code and `brew reinstall gcc`. It reinstalls `gcc` bottle and `brew test gcc` passes.

[2017-09-09 18:47] iMichka commented on #425
This issue is almost 1 year old. Since then, corutils has been bumped to version 8.28. I am closing this issue; if you still have trouble with this, please open a new issue and fill out the issue template. Thanks/

[2017-09-09 18:47] #425 closed

[2017-09-09 18:49] iMichka commented on #441
This issue is now 1 year old. Since then `ldc` has been updated multiple times and we have a `ldc` bottle. I'm closing this issue. Feel free to open a new one if you still have trouble with this. Thanks.

[2017-09-09 18:49] #441 closed

[2017-09-09 18:52] iMichka commented on #468
This issue is now 1 year old. Not sure how much support we want to put in supporting NFS drives. I'm closing this, maybe it has already been solved by one of the brew/ruby updates. Anyway, if somebody wants to work on this, pull requests are welcome. Thanks.

[2017-09-09 18:52] #468 closed

[2017-09-09 18:55] iMichka commented on #2798
`go` has now bottles; and is building for us, see #3996

I believe this issue is fixed :)

[2017-09-09 18:55] #2798 closed

[2017-09-09 19:07] iMichka commented on #3486
Here is what I get locally;

[code]

@ffirat would you be willing to report this upstream (on the opencoarrays bugtracker) so that we get help building this?

[2017-09-09 19:10] iMichka commented on #3723
@half2me what is that status of this for you now? I see that we have a `py3cairo` bottle now.

[2017-09-10 08:42] Hanzei commented on #2798
The issue is fixed for me. Thanks!

[2017-09-10 19:51] jbmaggard commented on #4077
Successful update of glibc from 2.12 to 2.23 following @tueda:

[code]
After this, g++ and gfortran were not finding correct glibc when compiling and linking test programs, so I did
[code]
Now GCC 5.3.0 seems to be working correctly, and is able to build libcaf_mpi.a from OpenCoarrays 1.9.1; and gfortran 5.3.0 is "OpenCoarrays-Aware"...

However, as @zbeekman mentions in open issue #4158, it sure

[2017-09-11 05:48] tseemann commented on #2798
The bottle installed. Thank you.

[2017-09-11 06:16] jokeyrhyme commented on #4158
I still experience this, too

I tracked this down to one of the functions that prepares the environment for builds
It creates a PATH that does _not_ have /home/linuxbrew/.linuxbrew/bin in it, even though the original PATH in my shell session _does_ include that

[2017-09-11 09:38] aktau commented on #4158
This is still a problem. An extract from `config.log`:

[code]

(This happened when I edited gcc.rb to no longer pin at `5.3.0`.)

My environment:

[code]

[2017-09-11 09:40] aktau commented on #4158
It seems like linuxbrew masks out the formerly installed version of gcc (5.3.0) in the sandbox, but still attempts to use it (`HOMEBREW_CC: gcc-5`). I'd be fine if this specific formula just used my system cc `/usr/bin/gcc`.

[2017-09-11 14:55] half2me commented on #3723
@iMichka I have not had a chance to solve this yet. Not quite sure how it should be done.

[2017-09-11 16:11] zmwangx opened #4198 "glibc and gmp: circular dependency makes brew-upgrade impossible"
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [x] If you have a macOS system and can replicate the problem on macOS with Homebrew, please report the issue to [Homebrew/core](https://github.com/Homebrew/homebrew-core) and foll

[2017-09-11 16:43] iMichka commented on #4198
We bumped gmp a few hours ago, in #4157, which also added the m4 dependency. This worked correctly for us in a clean build environment. We will have to dig a little bit more to see what happens here.

[2017-09-11 18:43] iMichka commented on #3723
I opened a pull request for that: #4204

[2017-09-11 19:24] iMichka commented on #3723
Patch pushed and bottle built with #4204

@half2me please test

[2017-09-13 19:44] davidlday opened #4244 "openssl@1.1 failed to build on Red Hat Enterprise Linux Server release 7.3 (Maipo)"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [x] If you have a macOS system and can replicate th

[2017-09-13 19:50] half2me commented on #3723
ah nice, thanks @iMichka, I'll test tomorrow

[2017-09-13 23:11] sjackman commented on #3865
Should be resolved by https://github.com/Linuxbrew/brew/pull/484 when it's merged.

[2017-09-13 23:11] #3865 closed

[2017-09-13 23:21] sjackman commented on #4077
`brew postinstall gcc` may also fix this issue.

[2017-09-13 23:23] zbeekman commented on #4077
But is it possible to get GCC-7?
On Wed, Sep 13, 2017 at 7:22 PM Shaun Jackman <notifications@github.com>
wrote:

[2017-09-14 00:17] tseemann opened #4247 "gtk+3 build error: ld: cannot find -lcups"
[code]

[2017-09-14 01:05] davidlday commented on #4244
I came across [Issue #488](https://github.com/Linuxbrew/brew/issues/488) on Linuxbrew/brew and thought I'd give the following a shot:

`HOMEBREW_BUILD_FROM_SOURCE=1 brew install openssl`

This worked. I also tried for openssl@1.1 but it didn't work. I don't have a need for openssl@1.1, but figured this info might be useful.

[2017-09-14 15:42] YingzhouLi opened #4248 "glib failed to build on CentOS Linux release 7.3.1611"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [X] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [X] Ran `brew update` and retried your prior step?

[2017-09-14 22:03] iMichka commented on #4247
See #497. Need to investigate when that option went away. Maybe some merge broke it lately.

[2017-09-14 23:11] sjackman commented on #4077
@zbeekman Linuxbrew does not currently provide GCC 7. If GCC 5.3 and GCC 7 are ABI compatible, yes it's possible to upgrade the `gcc` formula to GCC 7. If they're not ABI compatible, it'll be trickier.

[2017-09-14 23:35] sjackman commented on #4077
If you have `sudo` access, you can install Linuxbrew on CentOS 6 using...
[code]

If you do not have `sudo` access, you can build `gcc` 5.3 from source, and use that to compile `glibc`.

[code]

That's the best workaround that I have for now. Other possibilities would be to create a versioned formula `glibc@2.19`. Install `glibc@2.19` then the bottled `gcc` 5.3 then upgrade `glibc` to 2.23. The di

[2017-09-15 12:21] zbeekman commented on #4077
Any chance that will work for Ubuntu? Or should I just try the other approach you outlined?

[2017-09-15 12:26] zbeekman commented on #4077
Any chance this would work on an Ubuntu system?

Again wondering if this is a viable approach for Ubuntu systems

[2017-09-15 17:09] maculatus commented on #4248
Same problem here...

[2017-09-15 21:20] zijuexiansheng opened #4261 "Various compiling error after upgrading to gmp-6.1.2"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [x] If you have a macOS system and can replicate th

[2017-09-16 16:26] jbmaggard commented on #4261
Reverting to gmp-6.1.1 following instructions above seems to have fixed gfortran from the bottled gcc 5.3.0 (formula gcc).  The same bottled gfortran had started giving internal compiler errors recently, some time since my post in #4077 about having CAF (coarray fortran) working correctly with GCC 5.3.0 / MPICH 3.2 / OpenCoarrays-1.9.1.

[2017-09-16 22:53] half2me commented on #3723
@iMichka confirmed working from source, and with bottle.

[2017-09-16 22:53] #3723 closed

[2017-09-18 18:41] sjackman commented on #4077
@randy3k I've created a Wiki page with instructions to install Linuxbrew on CentOS 6 with or without sudo access. https://github.com/Linuxbrew/brew/wiki/CentOS6

[2017-09-18 18:43] sjackman commented on #4077
On Ubuntu, you should be able to use the standard installation instructions:
[code]

[2017-09-18 19:06] randy3k commented on #4077
I was following similar instructions you gave earlier and I worked for me. So I assume that the new instruction will also work.

[2017-09-18 23:31] sjackman commented on #4158
Linuxbrew currently provides GCC 4.9.4 `brew install gcc@4.9` and GCC 5.3.0 `brew install gcc`. No other versions of GCC are currently supported. There was some work done over at PR https://github.com/Linuxbrew/homebrew-core/pull/2650 to add `gcc@6`.

[2017-09-18 23:31] #4158 closed

[2017-09-18 23:31] #4077 closed

[2017-09-19 00:16] sjackman commented on #3928
If it's an option for you, you could open a ticket with your systems department to ask that they create a `linuxbrew` role account with home directory `/home/linuxbrew` for the purpose of sharing software that is used by your group.

[2017-09-19 09:09] andrewyatz commented on #4244
I'm seeing a similar problem now but linked into compiling anything on the most recent version of Linuxbrew. Lots of internal instruction errors appearing. I'm on RHEL7.2 but this was working more than a week ago. It looks like it's gone wrong over the past week.

[2017-09-19 11:20] half2me opened #4346 "pixman on Raspberry Pi 3 fails"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2017-09-19 14:20] half2me opened #4347 "libsoup on Ubuntu 17.04 server"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2017-09-19 14:52] andrewyatz commented on #4244
I've also tried to go back to glibc 2.19 and this has resulted in the same error

[2017-09-19 17:17] rakeshbala commented on #4198
I am facing the same issue. Temporarily made the change mentioned here https://github.com/Linuxbrew/homebrew-core/commit/d5d8600e0a03574cb485d406b6faf339e8ab7808 manually to get things working.

[2017-09-19 18:23] jbmaggard commented on #4158
@zbeekman

By reviewing how the gcc (5.3.0) and gcc@4.9 formulas install into ~/.linuxbrew, I was able to determine how to correctly build and install gcc 7.2.0 (for Coarray Fortran - building and using MPICH 3.2 and OpenCoarrays-1.9.1).

The gcc formula (5.3.0) does soft links in ~/.linuxbrew/bin and ~/.linuxbrew/lib.  It also modifies the gcc specs file (see gcc --verbose for location).

I insta

[2017-09-20 08:00] half2me opened #4356 "gst-python (--with-python3) cannot find pygobject-3.0"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2017-09-20 12:11] andrewyatz commented on #4244
I've just tried working on this again and reverted back to using glibc 2.19 and gmp 6.1.1. Compilation now works for pkg-config and hello. I think something has gone badly wrong in the gmp 6.1.2 bottle

[2017-09-20 18:11] emanresusername opened #4357 "request(/question?): (would it be easy/what would it take to) support cask for AppImages(?)"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [x] If you have a macOS system and can replicate th

[2017-09-20 20:04] iMichka commented on #4357
We currently do not have any infrastructure for that; and no ressources to allocate to work on that. So if you volunteer we would accept pull requests to make this work. There are surely some technical details to sort ou before starting working on this.

[2017-09-20 21:49] iMichka commented on #4065
Closing here. PRs are open in science, and a lot of stuff has still to be fixed ..

[2017-09-20 21:49] #4065 closed

[2017-09-20 21:56] iMichka commented on #4346
Hi. Thanks for reporting this. We support raspberry 3 things only on a occasional basis, because we do not have the resources to do so. I am not sure what the problem is, but I think you best bet would be to  first report this issue to upstream, so they can have a look at the log file and find out what is failing to build.

Building on ARM is sometimes tricky.

[2017-09-20 22:03] iMichka commented on #4247
Got it, this was `gtk+`, and you are installing `gtk+3`.
I opened a pull request to fix that: #4367

[2017-09-21 10:06] zmwangx commented on #4198
@iMichka I finally looked into this and tracked down the root of the issue (almost). The key is the `gawk` formula.

Simple repro from a fresh Linuxbrew installation (basically you only need to install a single formula, `gawk`, from an old commit with outdated `glibc` and `gmp`:

[code]

There problem lies in `expand_requirements` in `formula_installer`: https://github.com/Linuxbrew/brew/blob/a04f

[2017-09-21 10:10] zmwangx commented on #4198
Hmm, isn't GitHub now supposed turn the link https://github.com/Linuxbrew/brew/blob/a04f14336a38d4ab0bec01686ae7f242d92a2eed/Library/Homebrew/formula_installer.rb#L424-L453 into an inline code snippet? Doesn't work cross repo?

Anyway, a copy of the snippet:

[code]

---

Test: https://github.com/Linuxbrew/homebrew-core/blob/59b343a86689531bc59702e376654821f766b1c8/Formula/glibc.rb#L16-L31

[2017-09-21 10:46] iMichka commented on #4198
I think @sjackman is more comptent for that part of the code. I can have a look later too.

[2017-09-21 15:40] aersoares81 opened #4388 "brew install gcc fails. Actually everything fails because installing glibc fails..."
To help us debug your issue please explain:
- What you were trying to do (and why)

Install gcc because everything needs it. Also glibc.

- What happened (include command output)
[code]

- Other comments:

I also tried with HOMEBREW_CC=gcc-5 brew install gcc, and it also fails exactly the same way.

[2017-09-21 16:03] JeffWScott opened #4389 "Error: Failed to install vendor ruby"
I have done both installs (auto and manual) on the main page and afterwards I get
Error: Failed to install vendor ruby.
Error: Failed to install vendor Ruby
no matter what brew command I use.

I googled those errors and ran a few commands to install pre-recs but still I get those errors.

Can someone help please?

Distributor ID: Ubuntu
Description:    Ubuntu 14.04.4 LTS
Release:        14.04
Code

[2017-09-21 16:34] maelvalais commented on #4077
I followed @tueda's [advice](#issuecomment-326365394): first install glibc 2.20 and then upgrade to 2.23. I am running a non-root REHL 6.9 (Santiago) and I was getting `internal compiler error: Illegal instruction` errors during `brew upgrade glibc`.

<details>
 <summary>Details of <code>brew upgrade glibc</code> failing</summary>
make[2]: *** [/tmp/glibc-20170921-55100-dli0th/glibc-2.23/build/csu

[2017-09-21 16:44] randy3k commented on #4077
https://github.com/Linuxbrew/brew/wiki/CentOS6 may be more reliable as it is approved by @sjackman

[2017-09-21 18:17] sjackman commented on #4198
I'm not quite sure what's going on here. Perhaps this PR to make the `m4` dependency of `gmp` build only will help:
https://github.com/Linuxbrew/homebrew-core/pull/4391

[2017-09-21 18:46] iMichka commented on #4247
Fix merged. Please test.

[2017-09-21 18:46] #4247 closed

[2017-09-21 19:13] sjackman commented on #4077
I believe there's a problem with the `gmp` bottle using AVX2 instructions, which your CPU may not support. Try installing `gmp` from source, or downgrade to 6.1.1. See https://github.com/Linuxbrew/brew/issues/488. If you're able to resolve this issue, a PR would be most welcome.

[2017-09-21 19:14] sjackman commented on #4077
If anyone has the time and interest to look into the `gmp` issue, I'd appreciate a PR to fix the issue very much. I believe that the precompiled binary bottle may be using AVX2 instructions. It should not.

[2017-09-21 19:41] sjackman commented on #4244
[code]

[2017-09-21 22:16] andrewyatz commented on #4244
Think you're right there from reading that issue

[2017-09-21 22:22] sjackman commented on #4244
You can downgrade to the 6.1.1 bottle, or you can build `gmp` 6.1.2 from source.
[code]

[2017-09-22 01:07] emanresusername commented on #4357
yeah, i don't know too much about how homebrew cask internals work
but assuming the barrier to entry figuring that out isn't too high (or if we'd wanna take a totally different approach here?) i'd be willing to take a whack at it :+1:

[2017-09-22 08:06] iMichka commented on #4357
I do not know much about the Cask code neither. You can find it here and have a look:
https://github.com/Linuxbrew/brew/tree/master/Library/Homebrew/cask/lib

I would say that ideally it should integrate with cask, but that may be difficult. Some code would need to go upstream (to Homebrew/brew). You could start with a tap (like our developer tools tap for example); and add the necessary commands

[2017-09-22 08:06] #4357 closed

[2017-09-22 08:07] iMichka commented on #4388
Hi. On what Linux are you? You didn't fill out the issue template. Can you show us your `brew config`?

[2017-09-22 08:11] iMichka commented on #4077
@sjackman updated `gmp`, it should be good now.
See https://github.com/Linuxbrew/brew/issues/488#issuecomment-331316988 for instructions.

[2017-09-22 08:12] iMichka commented on #4261
We updated the `gmp` bottle, which had a problem.
See https://github.com/Linuxbrew/brew/issues/488

Please try:

If you get a SHA-256 error, delete the old cached bottle and try again.

[2017-09-22 08:14] iMichka commented on #4248
Full error:

[code]

[2017-09-22 08:21] iMichka commented on #4198
@zmwangx Could you please test again?

[2017-09-22 08:24] iMichka commented on #4248
It may be due to our previously broken `gmp` bottle, but I am not sure.
Could you please try:
`brew update && brew uninstall gmp && brew reinstall gmp`

[2017-09-22 08:25] iMichka commented on #4244
We pushed new gmp bottles (https://github.com/Linuxbrew/brew/issues/488)

Please `brew update && brew uninstall gmp @@ brew install gmp`

[2017-09-22 08:43] andrewyatz commented on #4244
:+1: this works! My environment is working again. Thank you!

[2017-09-22 08:46] iMichka commented on #4244
Nice. Thanks for your patience. Closing here.

[2017-09-22 08:46] #4244 closed

[2017-09-22 14:02] liz-is opened #4413 "ghc installation fails"
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [x] If you have a macOS system and can replicate the problem on macOS with Homebrew, please report the issue to [Homebrew/core](https://github.com/Homebrew/homebrew-core) and foll

[2017-09-22 14:18] YingzhouLi commented on #4248
Great. This solves the problem. Thank you.

[2017-09-22 14:29] jwhite007 commented on #4198
I'm getting the same infinite loop. Has there been any progress on a solution?

[2017-09-22 14:31] zmwangx commented on #4198
It doesn't seem to help.

As I pointed out in [this analysis](https://github.com/Linuxbrew/homebrew-core/issues/4198#issuecomment-331112599), the "solution" is to uninstall gawk.

[2017-09-22 15:02] jwhite007 commented on #4198
@zmwangx

Thanks. I just skimmed most of the comments. Sorry about that. I'll try the uninstall-gawk solution.

Cheers

[2017-09-22 15:05] maculatus commented on #4248
Thanks, it fixed the problem

On Fri, Sep 22, 2017 at 4:24 AM, Michka Popoff <notifications@github.com>
wrote:

[2017-09-22 18:48] #4261 closed

[2017-09-23 19:25] davidlday commented on #4244
Thank you, @iMichka & @andrewyatz ! I'll give it another go in the next day or so, but I trust it's fixed. :)

[2017-09-24 12:44] yzhzu opened #4444 "brew upgrade fail"
hello, all, today, I want to upgrade homebrew in our server. however, I tried several times, it still failed. can someone help me to deal with the error ? thanks very much.the error information  as following:

Upgrading sphinx-doc
==> Installing dependencies for sphinx-doc: binutils, linux-headers, glibc, gmp, mpfr, isl, gcc, sqlite, tcl-tk, python
==> Installing sphinx-doc dependency: binutils
==

[2017-09-24 18:38] iMichka commented on #4444
Looks like #236

I think I broke it during on of the last merges. Here is a fix: #4457

[2017-09-24 18:42] iMichka commented on #4444
Fix merged, please test again.

[2017-09-25 20:35] iMichka commented on #4444
I'll close this. Please tell me if it not fixed for you. In that case I'll reopen this issue. Thanks.

[2017-09-25 20:35] #4444 closed

[2017-09-25 20:45] iMichka commented on #4356
I tested this, and it fails on mac too. It is good that you reported this here first.

Could you please open an issue here: https://github.com/Homebrew/homebrew-core/
Make sure to fill out the issue template there too, and tell them that it is broken on mac too. Add me as cc so I can follow the discussion. Won't have time to fix this myself in the next days; but upstream has maybe some time to spa

[2017-09-25 20:45] #4356 closed

[2017-09-25 20:46] iMichka commented on #4346
I'll close this as we are not actively working on this. Feel free to comment on this issue though if you find out how to fix this. Thanks.

[2017-09-25 20:46] #4346 closed

[2017-09-25 21:46] iMichka commented on #4347
Hi. Thanks for reporting this. It is a somewhat know problem.

I am working on a solution, see #4451.

[2017-09-26 07:08] russel opened #4481 "Swift installation fails"
[code]

# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [ X ] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can re

[2017-09-26 10:12] half2me commented on #4347
cool, shall I close this Issue, or lets leave it open until its resolved?

[2017-09-26 10:13] half2me commented on #4346
I think its only a matter of specifying some switch. i'll look into it.

[2017-09-26 10:14] half2me commented on #4356
strange, I've been using gst-python on my mac for quite awhile now, and never had any problems. (Sierra)

[2017-09-26 15:38] iMichka commented on #4389
Hi. Could you please fill out the issue template? I do not have enough information to help you. Thanks.

[2017-09-26 17:06] emanresusername commented on #4357
cool, ok, i'll open some similar issues with some other repos that are in line with this and see if those maintainers/communities have ideas on the best ways to go about this

[2017-09-26 21:17] iMichka commented on #4347
I'm working on a fix here: #4448

I'll run a normal build to confirm that it fails first, and then I'll update the formulae, as we have now a strategy on how to fix this. I'll close here, we can discuss further in #4448

[2017-09-26 21:17] #4347 closed

[2017-09-27 21:58] #4248 closed

[2017-09-28 07:40] #3361 closed

[2017-09-28 13:57] davidlday commented on #4244
Problem fixed for me as well. Thank you!

[2017-09-28 16:48] maculatus commented on #4248
After change the new version, I have this when trying to open programs
using python 2.7:

ImportError:
/home/gybazeta/.linuxbrew/lib/python2.7/site-packages/glib/_glib.so:
undefined symbol: PyUnicoedeUCS2_DecodeUTF8

Any ideas?

On Wed, Sep 27, 2017 at 5:58 PM, Yingzhou Li <notifications@github.com>
wrote:

[2017-09-29 04:06] louy755 opened #4495 "undefined method `rebuild' for #<BottleSpecification:0x005600926822a0>"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2017-09-29 04:08] louy755 commented on #4495
This is Ubuntu 16.4 when this error show on my terminal

[2017-09-29 10:24] half2me commented on #4356
Seems like I built it when it was still building. I've filed an Issue, with a proposed fix included:
https://github.com/Homebrew/homebrew-core/issues/18709

[2017-09-29 15:31] iMichka opened #4499 "Fix intltool/XML::Parser dependency (easy)"
This issue is made for beginners who want to learn about git/github, and help the Linuxbrew team fix some formulae.

----

We have 75 formulae that depend on `intltool` at build time.

`intltool` needs the `XML::Parser` perl module to be able to run. On OS X, `XML::Parser` is provided by the operating system. On Linux, we need to provide that module for the users who didn't install it by other mea

[2017-09-29 15:53] jtwilson0294 commented on #4499
Hey, thanks for opening this up so beginners can take a shot at it! I'll work on a few of these so I can get a feel for git/github.

[2017-09-29 17:41] mattyjones commented on #4499
I am working on Gedit at the moment and can confirm the issue on UbuntuTrusty64

[2017-09-30 06:32] probonopd commented on #4357
Ah, I understand, https://github.com/athrunsun/homebrew-linuxbinary is about installing binaries. It should be easy for them to implement support for AppImages, since an AppImage is really nothing else  but an executable binary. They could even leverage data from https://github.com/AppImage/AppImage.github.io.

[2017-09-30 06:46] DiagonalArg commented on #4388
I have a similar problem.  Everything involves gcc and glibc, and these two seem to be conflicting:

`==> Upgrading bison
==> Installing dependencies for bison: glibc, gmp, mpfr, isl, gcc
==> Installing bison dependency: glibc
==> Downloading https://ftp.gnu.org/gnu/glibc/glibc-2.23.tar.gz
######################################################################## 100.0%
==> ../configure --disable-de

[2017-09-30 07:29] iMichka commented on #4357
Yes, you do not really need a package manager. The only advantage you have (and this why brew cask exists) is that you can do a regular "brew update" and get updates for you libraries AND for you apps.

[2017-09-30 07:40] emanresusername commented on #4357
yeah i see both sides of it
for me personally, osx just crapped out on me and i was thrust into this 😢
but also just chatting with other devs who are just defaulting to osx by force of habbit
it feels really good to be able to respond to linux-adoption-anxiety (both my own and others) with, "it's cyool gyuys! you still have all that `brew` goodness you know and love" (even if it's not *strictly ne

[2017-09-30 13:36] jonopens commented on #4499
Really appreciate the opportunity to help out! I'll take on a few of these.

[2017-09-30 14:40] DiagonalArg opened #4538 "New install: w3m, socat failing due to trouble with openssl@1.1"
New install, CentOS 7.  After the install, I tried installing some other things, including w3m and socat.  They both failed on openssl@1.1.  Error is:

==> Installing w3m dependency: openssl@1.1
==> Downloading https://www.openssl.org/source/openssl-1.1.0f.tar.gz
######################################################################## 100.0%
==> perl ./Configure --prefix=/home/user/.linuxbrew/Cell

[2017-09-30 14:45] DiagonalArg commented on #4538
gist is located here:  https://gist.github.com/DiagonalArg/b9e8aa0fd4fed39981423cb8e8df8ee0

Let me know if you need anything more.

[2017-09-30 14:48] DiagonalArg opened #4539 "New install: transmission failing due to trouble with libcurl"
New install, CentOS 7. After the install, I tried installing some other things, including w3m and socat (reported in another issue). Also, transmission, which failed on libcurl. Error is:

brew install transmission
==> Downloading https://github.com/transmission/transmission-releases/raw/094777d/transmission-2.92.tar.xz

[2017-09-30 14:54] DiagonalArg commented on #4539
`brew config` is below.  No problems show up in `brew doctor`

HOMEBREW_VERSION: 1.3.1
ORIGIN: https://github.com/Linuxbrew/brew
HEAD: 09208fb2af972b19a46f89ec8321232943e4c8d4
Last commit: 3 weeks ago
Core tap ORIGIN: https://github.com/Linuxbrew/homebrew-core
Core tap HEAD: be0a4fdd01822dcf1b5b352ca96262c8ae014403
Core tap last commit: 2 hours ago
HOMEBREW_PREFIX: /home/user/.linuxbrew
HOMEBREW_R

[2017-09-30 15:53] mbbroberg commented on #4499
👋 I want to help for Hackoberfest and jumped in with `yelp-tools`. The thing is I get no error for XML::Parser. After ~30 minutes of dependency installation, it errors here:

[code]

Not sure what's up. I think I'll try another bottle in the meantime.

[2017-09-30 16:02] iMichka commented on #4539
Hi. Thanks for reporting. This should be as simple as adding:

to the list of the decencies for that formula. On OS X curl is present on the system. On Linux, it may be there, but we need to explicitly tell brew to look for it. Would you like to open a pull request for that?

[2017-09-30 16:11] iMichka commented on #4538
Hi. Thanks for reporting. The error is:

This means that the Conditional perl module is missing. It needs to be added to the formula. You can have a look at the `dnsrend` formula on how to vendor perl modules (resource block + resources/stage block). Would you like to open a pull request for that?

[2017-09-30 20:49] iMichka commented on #4495
Closing here. We can reopen this if you provide the necessary information.

[2017-09-30 20:49] #4495 closed

[2017-09-30 20:52] iMichka commented on #4481
Hi. Thanks for reporting. Looking at the formula, we never attempted to build it for Linux on our side. There are no Linux bottles so nobody worked on this.

On thing I see is that `--host-target=macosx-x86_64` is set in the formula, which is probably wrong. This should be removed for Linuxbrew. Would you like to try to open a pull request to try to fix this?

[2017-09-30 20:57] iMichka commented on #4413
Hi. Thanks for reporting. The error is:

Not sure what that error is about.
You could try:

just to be sure this is not a gmp problem.

[2017-09-30 20:58] iMichka commented on #4389
I'll reopen this if the needed information is provided. Thanks for your comprehension.

[2017-09-30 20:58] #4389 closed

[2017-09-30 20:59] iMichka commented on #4388
Same question as above:

[2017-09-30 21:08] iMichka commented on #3928
As there was no progress here, and this seems to be a problem with your setup, I'll close this issue. If you find out why openssl@1.1 does not build, we would be pleased to hear it, especially if we need to change something in our build setup.

[2017-09-30 21:08] #3928 closed

[2017-09-30 21:11] iMichka commented on #3486
This may be due to the `gmp` problems we had lately. See https://github.com/Linuxbrew/homebrew-core/issues/4261#issuecomment-329978770, which had similar problem.

Please try:

and then try again. If this still does not work you should report error log to the opencoarrays people.

[2017-09-30 21:11] #3486 closed

[2017-10-01 01:19] DiagonalArg commented on #4388
Ya, I'm on CentOS-7.  Config is below, along with relevant doctor output.  (Note that I have reported two more issues regarding a new install, also on CentOS-7 - indeed that same machine, only a different account - but that's not this one.  This one was working well but went haywire on the latest upgrade.)

I would run `brew gist-logs glibc` and maybe also `gcc`, but running it places personal inf

[2017-10-01 01:31] DiagonalArg commented on #4539
Ok, that was simple enough and worked.  Hm, I guess it's time for me to learn some git, as I'm not sure how do a pull request... Give me a little time...

[2017-10-01 01:50] DiagonalArg commented on #4538
I think you're telling me I need to add something like this, except for the conditional.pm resource, rather than "Net::Pcap::Reassemble"; and then add a resources/stage block, like below. If I follow that path, might I get there?

[code]

[code]

[2017-10-01 01:55] DiagonalArg commented on #4388
Given the appearance of openssl@1.1 in `brew doctor`, could this could be linked to this other problem (https://github.com/Linuxbrew/homebrew-core/issues/4538), which is appearing on my new install (a different account on the same machine)?

[2017-10-01 02:05] DiagonalArg opened #4548 "Can't get `brew gist-logs` info locally, and running it uploads personal info to git."
I would run brew gist-logs <formula> for reports here, but running it places personal information up on github.  I can't find a way to get that info locally and edit it out. So instead I just run `brew config` and `brew doctor`.  If you guys can fix this, it could be helpful.

[2017-10-01 06:59] iMichka commented on #4539
`brew bump-formula-pr` is used when there is a new version of a formula. This is not what you are looking for.

You could follow the instructions here: https://docs.brew.sh/How-To-Open-a-Homebrew-Pull-Request.html
You will need to adapt them a little bit for Linuxbrew, as the repository here is a different one, but in principle that should be fine.

Or you can use the github  GUI and edit the file

[2017-10-01 07:01] iMichka commented on #4538
Yes, exactly. That should fix that error. You will need to find out the right URL on can and the sha256. Of course other perl modules may be needed, and you will need to add those accordingly.

[2017-10-01 07:32] russel commented on #4481
I can certainly give it a go, can you point me at the best easy to follow instructions for doing this sort of thing?

[2017-10-01 10:55] DiagonalArg commented on #4539
Done.  Hopefully, it's right!

[2017-10-01 11:04] DiagonalArg commented on #4539
Hm.  While the following tests are fine on my machine, CircleCI says:

[code]

[2017-10-01 13:18] DiagonalArg commented on #4538
Ok, I believe I did what you suggested, which meant just adding the two snippets below - but I'm getting exactly the same error.

[code]

And, inserted before the other perl command:

[code]

[2017-10-01 14:07] iMichka commented on #4539
Fixed by #4553. Thanks!

[2017-10-01 14:07] #4539 closed

[2017-10-02 08:48] liz-is commented on #4413
I've tried this and I get the same error.

[2017-10-02 20:20] iMichka commented on #4548
You can find the logs in ~/.cache/Homebrew/Logs, edit them, and upload them to gist manually.  Not sure what personal information you are talking about. If that is the case, this is more a thing that needs to be cleared with upstream (the hombrew team). We just use the same commands / features as them.

[2017-10-02 21:05] iMichka commented on #4481
We have some instructions from upstream, https://docs.brew.sh/How-To-Open-a-Homebrew-Pull-Request.html

You will need to slightly adapt it to Linuxbrew (the repository is not the same one as in the docs), but the process should be the same. If you have any questions I can try to help you.

[2017-10-02 21:14] iMichka commented on #4413
I have the feeling that this is an upstream problem, or a problem with your setup. Difficult to say.

We do not call that strip command. It would be interesting to see if you can build ghc from source outside of homebrew, to see if we are doing something wrong, or if this is an upstream bug. You could also report this error upstream to the ghc people and try to get some help here.

You could also

[2017-10-03 18:00] klmr commented on #4388
I’ve got the same problem as @DiagonalArg (“cannot find -lc”) on Ubuntu 12.04.5. When checking where Homebrew’s/binutils `ld` looks for libraries (via `ld --verbose | grep DIR`), I find that it is linked to non-existent directories such as `/home/linuxbrew/.linuxbrew/Cellar/binutils/2.29.1/lib64`. The `home/linuxbrew/` part does not exist, and I have no idea where it is coming from.

For context,

[2017-10-03 18:40] YingzhouLi commented on #4248
@maculatus You probably could find the solution in the attached stackoverflow page.
https://stackoverflow.com/questions/11878666/python-undefined-symbol-pyunicodeucs2-decodeutf8

[2017-10-04 12:47] sandeep-gh opened #4569 "postgis install fails due to scfgal"
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate the problem on macOS with Homebrew, please report the issue to [Homebrew/core](https://github.com/Homebrew/homebrew-core) and foll

[2017-10-04 13:36] DiagonalArg commented on #4548
Ok.  Personal information includes username.

[2017-10-04 14:03] DiagonalArg commented on #4388
I've got the same problem!  It's somehow got the wrong username.

[code]

[2017-10-04 16:38] liz-is commented on #4413
I decided to try an alternative route to install pandoc, following the instructions [here](https://pandoc.org/installing.html#quick-stack-method) and using stack to install ghc. The ghc installation seems to have worked (the pandoc installation itself is still running).

Having said that, I wouldn't surprised if there is something in the setup causing the original problem, it's not the first time

[2017-10-04 16:57] andrewyatz opened #4570 "Cannot compile apr-util due to missing dependency"
# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate the problem on macOS with Homebrew, please report the issue to [Homebrew/core](https://github.

[2017-10-04 18:44] iMichka commented on #4413
It's your call. Either we close this bug because you were able to fix this with a workaround, or you want to investigate this error message with upstream. I'll have no time to test this myself (and can't reproduce the error). If we close this, somebody else could still have a look later if they encounter the same error.

[2017-10-04 19:06] iMichka commented on #4548
Is it empty? You need to install a formula first. @sjackman the path to the logs is `~/.cache/Homebrew/Logs`, right?

[2017-10-04 20:10] sjackman commented on #4548
Yep. What's the output of `brew --cache`? Look for a `Logs` subdirectory in there.

[2017-10-04 21:06] lparsons opened #4580 "vim fails to build with `configure: error: cannot compute sizeof (off_t)`"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2017-10-05 01:14] sandeep-gh opened #4581 "postgres installs but initdb fails"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2017-10-05 11:21] andrewyatz opened #4587 "Systemd fails to compile: missing libacl"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2017-10-06 00:15] DiagonalArg commented on #4548
Well,

[code]

but the Logs subdirectory, which exists, is empty!

(This is on my old install that's been working but developed the glibc/gcc problem #4388)

[2017-10-06 00:22] sjackman commented on #4548
`brew install glibc` should produce log files in that directory. As for the original issue, we don't have plans to remove the username from the log file.

[2017-10-06 00:22] #4548 closed

[2017-10-06 00:24] sjackman commented on #4388
The apparent wrong user name is a red herring. `brew`'s Superenv tells binutils what the library search path should be.

[2017-10-06 00:32] sjackman commented on #4388
It's looking for the file `libc.so` in the directory `$(linuxbrew --prefix glibc)/lib`. Please report the output of…
[code]

[2017-10-06 00:35] DiagonalArg commented on #4548
This attempt with installing glibc (since I found there was an update) left me with a glibc/ directory.  Not sure why previous attempts left it empty.

[2017-10-06 00:39] DiagonalArg commented on #4388
[code]

[2017-10-06 01:13] DiagonalArg commented on #4388
[00.options.out.txt](https://github.com/Linuxbrew/homebrew-core/files/1361266/00.options.out.txt)
[01.configure.cc.txt](https://github.com/Linuxbrew/homebrew-core/files/1361267/01.configure.cc.txt)
[01.configure.txt](https://github.com/Linuxbrew/homebrew-core/files/1361265/01.configure.txt)

[2017-10-06 01:14] DiagonalArg commented on #4388
[02.make.txt](https://github.com/Linuxbrew/homebrew-core/files/1361269/02.make.txt)

[2017-10-06 01:30] DiagonalArg commented on #4388
I should point out that those 3 last posts relate to an attempted install of a newer version of glibc that gives a similar but slightly different error:

[code]

[2017-10-06 01:31] DiagonalArg commented on #4388
In addition, oddly, when I try to run that from other than my home directory, I get:

[code]

[2017-10-06 05:34] sjackman commented on #4388
Here's the line of code that's supposed to tell it where to find `-lc`:
https://github.com/Linuxbrew/homebrew-core/blob/master/Formula/glibc.rb#L101

[2017-10-06 05:40] sjackman commented on #4388
That `-L#{opt_lib}` option doesn't seem to be making it into your link line though.
[code]
Can you please report the output of…
[code]

[2017-10-06 05:41] sjackman commented on #4388
For troubleshooting and possible a hack workaround, you could try `brew edit glibc` and change
[code]
to
[code]

[2017-10-06 10:57] klmr commented on #4388
Just for completeness’ sake, my output is a bit difference since Linuxbrew’s glibc is missing:

[code]

The interactive console reports

[code]

Replacing the check in `glibc.rb` by `if true` as you mentioned doesn’t change the error, and no `-L` option is added to the relevant command line. In fact, `Formula['glibc'].opt_lib.directory?` is `false` when inspected in `brew irb` (not surprising: the

[2017-10-06 14:15] DiagonalArg commented on #4388
It says not installed, but `brew list` says it is.

[code]

[2017-10-06 17:22] sjackman commented on #4388
Please report the output of
[code]

[2017-10-06 17:28] sjackman commented on #4388
@klmr I'd suggest trying a fresh install of Linuxbrew if that works for you. Follow these instructions for Ubuntu 12 Precise. https://github.com/Linuxbrew/brew/wiki/Ubuntu-12-Precise

[2017-10-06 17:30] sjackman commented on #4388
@klmr Can you please report the output of `ld --verbose | grep DIR`? Do any of the listed directories contain the file `libc.so`?

[2017-10-06 19:15] DiagonalArg commented on #4388
[code]

[2017-10-06 20:40] sjackman commented on #4388
Here's the line in the `glibc` Makefile where `BUILD_LDFLAGS` is added to the link line for `cross-rpcgen`: https://github.com/lattera/glibc/blob/master/sunrpc/Makefile#L169
[code]

[2017-10-07 00:46] DiagonalArg commented on #4388
Well, both fixes you suggest return the same error:

[code]

[2017-10-07 00:57] sjackman commented on #4388
This clearly needs a better fix. As a workaround for now, copy the file
[code]
to
[code]

[2017-10-08 16:31] klmr commented on #4388
`ld --verbose | grep DIR | tr ';' '\n' | sed 's/ *SEARCH_DIR("=\(.*\)")/\1/'` shows the following:

[code]

Alas, none of these directories contains `libc.so`. I’ll try reinstalling Linuxbrew using the instructions you provided. Thanks!

[2017-10-08 16:47] sjackman commented on #4388
Huh. That is indeed a problem. Does the file exist at `/usr/lib/x86_64-linux-gnu/libc.so`?
If it does and you have write permission to any of the above directories, a workaround would be to symlink the above file to that location. If you don't, you could `brew edit glibc` and set the environment variable `LIBRARY_PATH` to `/usr/lib/x86_64-linux-gnu/libc.so`

[2017-10-09 08:44] liz-is commented on #4413
I'll close the issue, then.

[2017-10-09 08:44] #4413 closed

[2017-10-09 09:12] half2me commented on #4356
@iMichka This has been fixed upstream. Could you pull it in?

[2017-10-10 01:46] w9 opened #4609 "Brew install haskell-stack failed (Not enough room for program headers)."
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2017-10-10 09:01] iMichka commented on #4356
It will come in with the regular updates, but it may take some days. I have currently a little bit less time so we are lagging behind upstream a little bit. I hope things will settle down in the next days.

[2017-10-10 15:40] iMichka commented on #4609
Hi. Thanks for reporting this. We got exactly the same error here: #4413

This is why I said to that user:

[2017-10-11 23:40] malexander99 opened #4634 ""brew install id3lib" fails on Ubuntu 16.04.2 LTS"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [Yes] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate

[2017-10-11 23:59] deiga commented on #4499
Could not reproduce error for `adwaita-icon-theme`

[2017-10-12 00:36] netroby opened #4636 "brew install curl , then curl report error: curl: (77) error setting certificate verify locations:"
While using linuxbrew to install swift, i got problem with curl error setting certificate verify locations.

The solution

brew postinstall openssl
brew install curl
Have fun

For reference:https://github.com/Linuxbrew/homebrew-core/pull/2924

https://github.com/Linuxbrew/legacy-linuxbrew/issues/238

can we make brew install curl auto postinstall openssl?

[2017-10-12 08:50] iMichka commented on #4634
Hi; thanks for reporting. Seems we never built a bottle for `id3lib`, so this formula is sort of "untested" from our side. We are still in the process to package everything for Linux.

Looks like there is some compilation problem here. Maybe you could ask upstream (the `id3lib` people) if they could help you. This will probably need a patch to be able to compile.

[2017-10-12 15:01] iMichka commented on #4636
Hi. Thanks for reporting. We just had a small discussion about this problem lately, see #4601
Adding @sjackman as cc

I have currently no time to look for a proper solution, so any pull request - ideas are welcome.

[2017-10-12 15:27] iMichka commented on #4587
Hi. Thanks for reporting this.

Copied the error here:
[code]

We have 2 solutions here:
- create an `acl` formula and use it
- Try to use the `--disable-acl` flag while building `systemd`.

Could you try to modify the `systemd` formula and add the `--disable-acl` flag, and see if it helps?

[2017-10-12 15:31] iMichka commented on #4581
Hi. Thanks for reporting. I have no clue what is going on.

I also saw you asked you question there
https://stackoverflow.com/questions/46567468/postgres-init-could-not-look-effective-user-id-user-does-not-exists

Maybe you could ask on the `postgres` mailing list if they can help you? We did just the packaging, and until proven wrong, I think this is more a setup/runtime problem on your side or o

[2017-10-12 15:35] iMichka commented on #4580
Hi. Thanks for reporting this. Seems someone else already had that problem: https://github.com/Linuxbrew/legacy-linuxbrew/issues/847

Not sure what the root cause is though

[2017-10-12 15:42] iMichka commented on #4570
Hi. Thanks for reporting this.

It looks like we have `mawk` installed in our docker image, so we did not see that problem.
The fix would be to add the `mawk` dependency to the formula in this repository, safeguarded with a `unless OS.mac?` statement.

@sjackman Do you think we coud remove `mawk` from the docker container?

[2017-10-12 21:04] sjackman commented on #4570
The `mawk` package is essential to Ubuntu.
[code]

[code]
We can use `inreplace` to change `AWK=mawk` to `AWK=awk`. We could put this in the `postinstall` so that we don't have update the current bottle.

[2017-10-12 21:05] sjackman commented on #4570
Linuxbrew has an implicit dependency on `awk` (lots of stuff would break without it), but not so on `mawk`.

[2017-10-12 21:07] sjackman commented on #4636
`brew install curl` will `brew install openssl`, and that will `brew postinstall openssl`, so it's supposed to work. In your case it didn't. To troubleshoot further we'd need to know the error message of the original `brew install openssl` command.

[2017-10-13 23:38] dimwael opened #4651 "postgresql: error no list on ubuntu"
I have installed brew postgresql. but when i use the command :
brew services start postgresql
I get the error :
sh: 1: list: not found
Error: Failure while executing:  load -w /home/djappaman/Library/LaunchAgents/homebrew.mxcl.postgresql.plist

[2017-10-14 19:50] szeck87 opened #4668 "Error: Invalid formula ... version missing for "gotools" resource"
# Please fill out the issue checklist below, and provide all of the requested information.
This happens with `brew doctor` and `brew update` at the very least, but the error is specific to homebrew-core.  If this is incorrect, please let me know and I'll open an issue under Linuxbrew/brew.

# Please always follow these steps:
- [ ] Confirmed this is a problem with `brew install`ing one, specific f

[2017-10-14 20:49] takumiabe commented on #4668
I don't know why, but it fixed by:

[code]

and
`brew update`

[2017-10-14 20:54] szeck87 commented on #4668
@takumiabe that's just checking out a commit from before the versions were removed.

[2017-10-15 10:44] wush978 opened #4670 "Cannot upgrade to glibc 2.23"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [v] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [v] If you have a macOS system and can replicate th

[2017-10-15 16:05] szeck87 commented on #4668
Fixed with https://github.com/Linuxbrew/homebrew-core/commit/a56e73a398908e5831d00ab70044ecd5ed7fc374. Thanks @iMichka

[2017-10-15 16:05] #4668 closed

[2017-10-15 21:05] iMichka commented on #4670
Hi. Thanks for reporting. This looks strongly like #4388. I'll close this issue and you can watch the discussion on the other one, and maybe try to provide some more information in that other issue to help us fix that. Thanks.

[2017-10-15 21:05] #4670 closed

[2017-10-15 21:11] iMichka commented on #4651
Hi. Thanks for reporting this. Please always fill out the full issue template to help us fix this.

Seems to look similar to this error:
https://stackoverflow.com/questions/13702425/source-command-not-found-in-sh-shell
Of course there the missing command is `source`, whereas here it is `list`. What shell are you using?

[2017-10-15 23:38] ckanibal opened #4674 "mongodb: Erroneous 2to3 command"
## Troubleshooting checklist
- [x] Run brew update twice.
- [x] Run brew doctor and fix all the warnings (outdated Xcode/CLT and unbrewed dylibs are very likely to cause problems).
- [x] Check that Command Line Tools for Xcode (CLT) and Xcode are up to date.
- [x] If commands fail with permissions errors, check the permissions of /usr/local's subdirectories. If you’re unsure what to do, you can ru

[2017-10-16 05:24] wush978 commented on #4388
Hi @sjackman ,

I opened #4670 and was instructed to join the discussion.

I tried two suggestion from https://github.com/Linuxbrew/homebrew-core/issues/4388#issuecomment-335019916 but both failed.

The `libc.so` is not under `/usr/lib/x86_64-linux-gnu` on my machine. But `libc.so` is under `/usr/lib64/libc.so`.
Therefore, I added `ENV["LIBRARY_PATH"] = "/usr/lib64"` after https://github.com/Linux

[2017-10-16 10:20] iMichka commented on #4674
I think upstream has already removed that dash, see commit dc56a1ea89419226a9cdb4045cd61a7002e96c06 in homebrew-core.

In theory this fix will be merged to linuxbrew during the day (I hope).

[2017-10-16 10:22] ilovezfs commented on #4674
https://github.com/Homebrew/homebrew-core/pull/19319
https://github.com/Homebrew/homebrew-core/pull/19322

[2017-10-16 10:40] ckanibal commented on #4674
Ah, okay. I didn't see those changes. Feel free to close this issue then!
Thank you @iMichka, @ilovezfs

[2017-10-16 17:32] sjackman commented on #4388
Hi, Wush. Consider installing Linuxbrew in `/home/linuxbrew/.linuxbrew/` if possible so that you can use precompiled binary packages (known as bottles) for non-relocatable formula like `glibc`.

If you don't have `sudo` access, you could consider opening a ticket with your systems department to ask that they create a `linuxbrew` role account with home directory `/home/linuxbrew` for the purpose of

[2017-10-16 20:43] iMichka commented on #4674
@ckanibal Should be fixed now. Please update and tell us if it works for you.

[2017-10-16 21:34] iMichka commented on #4569
Hi. Thanks for reporting this. I opened a pull request to build a bottle for postgis: #4696

Let's see first if we can reproduce this in our docker container. If that is the case I'll try to work on a fix.

[2017-10-17 21:10] AlexanderOMara opened #4716 "brew install jdk fails with 404 errors on the downloads"
**Checklist:**
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`?
- [x] This formula is not available on macOS.
- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed all issues and retried your prior step?
- [x] Ran `brew gist-logs jdk`, said `Error: No logs.` because it didn't get that far.
- [x] If `brew

[2017-10-17 21:42] AlexanderOMara opened #4717 "x265 fails to install"
**Checklist:**
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`?
- [x] Cannot replicate on a macOS system.
- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed all issues and retried your prior step?
- [x] Ran `brew gist-logs x265`: https://gist.github.com/anonymous/d7502f8dd124c67ee59a676bf20f24ef

To h

[2017-10-17 22:37] AlexanderOMara commented on #4717
I ran `brew install --verbose --debug x265`, I believe the issue is related to libtool:

[code]
After playing around in the shell, I think the issue is related to this change, which appears dependent on a system libtool that supports a `-static` option: https://github.com/Linuxbrew/homebrew-core/commit/3d8f4662b51f088d8288e964c265b241309da7df

The libtool is the system one (installed by `sudo apt-

[2017-10-17 22:48] AlexanderOMara commented on #4717
Oh, I see. The issue is that those system commands expect the Apple libtool, which has a `-static` and `-o` option. It seems those changes made the formula incompatible with Linux...

[2017-10-17 23:13] AlexanderOMara commented on #4717
IDK if this is a perfect solution, or how to make it part of the formula, but I've come up with a patch that can be applied to get it to install:

Edit: `/home/linuxbrew/.linuxbrew/Homebrew/Library/Taps/homebrew/homebrew-core/Formula/x265.rb`

Replace:
[code]

With:
[code]

[2017-10-18 07:51] iMichka commented on #4717
Hi. Thanks for reporting this. I saw that it was broken 5 days ago, see #4648, and had no time to work on this (and will probably not have any time in the next days.

Would you be willing to open a pull request for this? You will need to create a if/else block using `if OS.mac?` as condition, because we want to keep the mac version around (this help us when later merges are done).

[2017-10-18 07:53] iMichka commented on #4716
cc @VonUniGE who worked on this lately. I have not much time to look after this at the moment. Pull requests are welcome!

[2017-10-18 08:26] VonUniGE commented on #4716
A new version of jdk9 has been released and now Oracle remove old versions from public download. We should maybe cache them?
I will provide a PR for updating the URL and checksum.

[2017-10-18 08:43] VonUniGE commented on #4716
Here is the PR : https://github.com/Linuxbrew/homebrew-core/pull/4719

[2017-10-18 18:57] alexstaj opened #4729 "jdk fails"
[code]

[2017-10-18 19:40] #4674 closed

[2017-10-18 19:53] AlexanderOMara commented on #4717
I've created a pull request:

https://github.com/Linuxbrew/homebrew-core/pull/4731

[2017-10-18 20:19] iMichka commented on #4717
Fixed with #4731

[2017-10-18 20:19] #4717 closed

[2017-10-19 00:06] szeck87 opened #4740 "Invalid formula...Resource "druntime" is defined more than once"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [X] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2017-10-19 00:07] szeck87 commented on #4740
Build can be viewed here:  https://travis-ci.org/szeck87/atom-beautify/jobs/289746939

[2017-10-19 08:16] iMichka commented on #4740
Hi. Thanks for reporting. I have opened a pull request to fix this: #4744
The devel block of the dmd formula was there twice, it probably broke during one of the latest merges and I did not directly see it.

[2017-10-19 10:03] #4740 closed

[2017-10-19 10:03] iMichka commented on #4740
Please update and test, should be good now.

[2017-10-19 16:20] szeck87 commented on #4740
It's working now, thanks!

[2017-10-20 08:53] andrewyatz commented on #4570
If the change went into `postinstall` wouldn't that be too late to influence the build? The other option would as @iMichka said to add `depends_on 'mawk'` to `apr-util`. Is there a reason not to do the later if the options?

[2017-10-20 15:38] sjackman commented on #4570
The `post_install` to modify is that of `apr`, which should fix the build of `apr-util`.
[code]

[2017-10-20 15:57] #4198 closed

[2017-10-21 16:47] iMichka commented on #4716
This should be fixed now. Closing.

[2017-10-21 16:47] #4716 closed

[2017-10-22 06:30] Char-Aznable commented on #3471
I encountered the exactly the same problem for systemd. The build environment is picking up perl from /usr/bin/perl instead of the linuxbrew perl. This causes compilation error in building pulseaudio from source during "make install":
erl ./xmltoman pulseaudio.1.xml > pulseaudio.1 || rm -f pulseaudio.1
perl ./xmltoman esdcompat.1.xml > esdcompat.1 || rm -f esdcompat.1
perl ./xmltoman pax11publish.

[2017-10-22 06:43] Char-Aznable opened #4765 "systemd failed to compile due to "plugin needed to handle lto object""
Building systemd from source failed during linking with a lot of "plugin needed to handle lto object" errors. I follow the suggestion from: https://gcc.gnu.org/ml/gcc-help/2016-01/msg00061.html and found the build system failed to find gcc-nm, gcc-ranlib and gcc-ar at the configure step because these binaries are suffixed with "-5" in the brew installed gcc 5.4.0. The compilation when smoothly if

[2017-10-22 07:04] Char-Aznable opened #4766 "build llvm --with-libcxx failed due to outdated libcxxabi package"
The outdated package https://llvm.org/releases/4.0.1/libcxxabi-4.0.1.src.tar.xz caused llvm compilation failure with unavailable header: __refstring
That header has been removed in llvm 5 (see https://github.com/llvm-mirror/libcxxabi/commit/28942d3ba886b4f215ac6ddaa05c55d35d927621)
I manually changed the url for the package to: https://llvm.org/releases/5.0.0/libcxxabi-5.0.0.src.tar.xz
and the com

[2017-10-22 10:10] iMichka commented on #3471
I have found a solution for that, see #4499

There are instructions on how to fix this. The issue has been marked as easy and a pull request is welcome. I am willing to guide people through the process if there are any questions.

[2017-10-22 13:05] iMichka commented on #4766
Hi. Thanks for reporting this. I opened a pull request for that: #4770

[2017-10-22 18:32] Char-Aznable commented on #3471
The solution in #4499 didn't help with pulseaudio. I have put
ENV.prepend_path "PERL5LIB", "#{Formula["intltool"].libexec}/lib/perl5" unless OS.mac?
but this wasn't used by configure because NLS is disabled, which means intltool is not needed at all for compilation. The actual error I post has something to do with the build system picking up the wrong perl:
/usr/bin/perl, which is a very old one o

[2017-10-22 18:38] iMichka commented on #3471
I see. Sorry for the confusion, it is because the first error reported in this issue was about the missing XML::Parser perl module.

What OS are you using? I will need to reproduce this to be able to find a solution. It may be worth opening a new issue, and filing out the issue template, so I have the full information about your setup.

[2017-10-22 19:16] iMichka opened #4773 "Installing Python3 throws error"

[2017-10-22 19:25] iMichka commented on #4773
Happens when using `brew info python3`, so this is a problem in the caveats method.

[2017-10-22 19:30] iMichka commented on #4773
#4774

[2017-10-22 23:45] Char-Aznable opened #4778 "build graphviz from source failed due to missing LDFLAGS"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [x] If you have a macOS system and can replicate th

[2017-10-23 14:00] iMichka commented on #4773
Fixed by #4774

[2017-10-23 14:00] #4773 closed

[2017-10-23 14:01] iMichka opened #4783 "brew info python displays: "sh: 1: python: not found""
When using `brew info python`, somewhere in the caveats there two lines that are displayed:
[code]

[2017-10-23 14:03] iMichka commented on #4765
Hi. Please always fill out the full issue template. Especially `brew doctor` and so on.

On what OS is this happening?

[2017-10-23 18:33] Char-Aznable commented on #4765
I was in a hurry and didn't fill out the template.
# Please always follow these steps:
- [1 ] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate the problem on macOS with Homebrew, please

[2017-10-24 10:54] nitinbansal1989 opened #4788 "Bottle for Postgresql@9.6"
Please create bottle for Postgresql@9.6

[2017-10-24 10:56] nitinbansal1989 commented on #4788
@sjackman can you please create a bottle for this formula.

[2017-10-24 12:21] iMichka commented on #4788
Done with 21c523d

[2017-10-24 12:21] #4788 closed

[2017-10-24 14:13] athrunsun commented on #4357
I started appimage tap [here](https://github.com/athrunsun/homebrew-appimage), however I'm having problems installing any one of them because linuxbrew is complaining:

Why does brew use `ldd` here?

[2017-10-24 15:02] athrunsun commented on #4357
Well, I finally figure it out myself - I don't if this is documented but by looking at `Formula` class's source code in linuxbrew, there's a `cxxstdlib_check` method:
[code]

So I go ahead and add `cxxstdlib_check :skip` to every appimage formula and it works.

@emanresusername Have a try and let me know how you feel and what you think.

[2017-10-24 16:00] albertz commented on #988
I get a very similar problem. My home FS is also on NFS.
[code]

[2017-10-24 16:44] sjackman commented on #988
Please report the output of…
[code]

[2017-10-24 21:24] iMichka commented on #4778
Hi.

I put the patch part inside triple ticks (```) , to make it more readable.

Could you please fill out the full issue template? I tested to build from source in a clean docker container and it worked nicely. There may be something special in your setup.

[2017-10-24 21:57] iMichka commented on #4388
What is the state of this? I would like to know if there is some action that we need to take to help people to get this to run.

I have sometimes a hard time to follow all the use cases with the different glibc/gcc versions. We have some wiki pages here https://github.com/Linuxbrew/brew/wiki that may need some updates and more details. Could somebody summarise a little bit the situation?

[2017-10-24 22:10] iMichka commented on #147
Trying to build it with our latest gcc and ubuntu version: #4795

[2017-10-24 22:13] sjackman commented on #4388
Installing in `/home/linuxbrew/.linuxbrew` should work just fine, regardless of the host system.
Installing elsewhere when the host provides gcc < 4.7 can be a bit tricky, because `glibc` requires `gcc` ≥ 4.7 to compiler from source.
We have workarounds for the common distributions in https://github.com/Linuxbrew/brew/wiki

[2017-10-25 07:45] albertz commented on #988
Well, it's not installed because the brew failed with the error I just wrote. So of course I get:
[code]

[2017-10-25 09:11] albertz opened #4799 "error: [Errno 5] Input/output error: '.../setuptools-36.5.0-py3.6.egg-info/zip-safe"
- [x] Ran `brew update`.
- [x] Ran `brew doctor`, some unrelated issues
- [x] Ran `brew gist-logs`: [here](https://gist.github.com/c11599b1504d73df1de5b4d4280e292d)

[code]

Another `brew postinstall python3` yields the same error.

Probably the problem is, or related is that my home directory is on a NFS share.

[2017-10-25 09:16] purwarshubh10 commented on #4580
Hi,
I haved faced same issue in centos 6.6 while upgrading vim to latest version.
I have resolved it by upgrading my gcc to gc 5.5. After that it has installed.

[2017-10-25 09:17] iMichka commented on #4799
This seems to be a Python3 bug: https://bugs.python.org/issue24564

Not sure what we can do about that. The Python devs needs to fix it.

[2017-10-25 09:18] iMichka commented on #4580
Do you remember what the previous gcc was?

[2017-10-25 10:23] purwarshubh10 commented on #4580
Hi iMichka,

Yes the previous gcc version was 4.8

[2017-10-25 14:26] iMichka commented on #4580
Thanks. Probably that one is too old to be able to build vim.

I'll close this issue, as there is a workaround. As long as we do not have a CI for centos 6, we can not guarantee that everything will always work or compile correctly. So people will have to rely on workarounds when needed.

[2017-10-25 14:26] #4580 closed

[2017-10-25 14:46] iMichka commented on #4636
Without the initial error message, this will be hard to debug. Closing here. If somebody hits a similar error, we have a FAQ entry for a workaround:
https://github.com/Linuxbrew/brew/wiki/FAQ#why-does-curl-fail

Of course if we could get information about what made the postinstall fail would be great.

[2017-10-25 14:46] #4636 closed

[2017-10-25 15:00] iMichka commented on #4587
I'll disable `acl` for the moment, until somebody works on an `acl` formula. Pr open here: #4802

[2017-10-25 16:10] probonopd commented on #4357
@athrunsun thanks for looking into adding AppImage support. However, I wonder whether it is really a good use of time and resources to manually write one `.rb` file per application, and having to manually update this file every time upstream releases a new version (which can be very cumbersome, e.g., in the case of continuous builds).

Maybe you are interested in the data we are collecting in the

[2017-10-25 17:06] sjackman commented on #988
Ah, I see. That was permission denied while writing. I had thought reading.
Do you have write permissions for each subdirectory above that path?

[2017-10-25 17:10] albertz commented on #988
Yes. Except `/u` and `/`. But as said, all is on a NFS share. I suspect that this is related to the problem.

[2017-10-25 17:13] sjackman commented on #988
Possibly related. I primarily use Linuxbrew on NFS though, so not all NFS installations are problematic, though yours may be. Please report the output of…
[code]

[2017-10-25 19:04] ElliotWay opened #4803 "Can't install glibc (but have gcc 6.1 installed) (RHEL)"
- [x] Confirmed this is a problem with one, specific formula (The problem's with glibc, though obviously in practice this breaks everything else.)
- [x] If you have a macOS system...
- [x] Ran `brew update` and retried your prior step? (This gives an error message from git, because I can't brew install a newer version.)
- [x] Ran `brew doctor`, fixed all issues and retried your prior step? (As bes

[2017-10-25 19:24] emanresusername commented on #4357
@athrunsun looks great to me!
using vlc and hyper appimages from there now :sunglasses:

@probonopd 's suggestion makes a lot of sense too, idk the "homebrew way" to take advantage of that though 🤔

i know homebrew-cask had a mechanism for [dynamic download url's](https://github.com/caskroom/homebrew-cask/blob/60531a2812005dd5f17dc92f3ce7419af3c5d019/Casks/audacity.rb#L5#L15)

idk if there's somet

[2017-10-25 21:25] iMichka commented on #4499
@sjackman I found out something else, which makes me worry that my solution is not the correct one, or may not always work ...

The current solution works fine in our docker container. On my ubuntu 17.04 though, it does not work when building stuff from source.

I needed to use:

instead of:

Of course that new path does not work in our docker container. So I need two different versions; but I am

[2017-10-25 21:34] sjackman commented on #4499
That sounds to me like the correct PATH is
[code]

[2017-10-25 21:37] sjackman commented on #4499
Is there a smaller reproducible test case? Perhaps one of the other programs that depends on `intltool`?

[2017-10-25 21:39] iMichka commented on #4499
I just tested with `systemd` and `gsettings-desktop-schemas`, and both fail to find the perl module on my Ubuntu.

[2017-10-25 21:53] sjackman commented on #4499
With brewed `perl`?

[2017-10-25 22:45] ndevenish commented on #4803
I've just had exactly the same problem -
 https://gist.github.com/anonymous/9f09c49d4538c0397d76d2f8c4d53d27.

After following the Centos6 [instructions](https://github.com/Linuxbrew/brew/wiki/CentOS6), I found that almost everything was being built from source rather than bottles, so I tried gcc-7, which was available in an importable [module](http://modules.sourceforge.net/), hoping that I could

[2017-10-26 00:17] DiagonalArg commented on #4388
@iMichka - I don't know if @sjackman is talking about a new install, but I'm at gcc 4.8 and I was not able to upgrade without the problems you see above.

[2017-10-26 00:24] enith2478 opened #4804 "Error: failed to install vendor Ruby"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x ] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.

- [ ] If you have a macOS system and can replicate

[2017-10-26 06:29] athrunsun commented on #4357
@probonopd I'm building all the formulaes exactly according to [AppImageHub](https://appimage.github.io/apps/), I won't even be able to know those appimage apps without the information you provided.

I didn't try [AppImageUpdate](https://appimage.github.io/AppImageUpdate/) yet but according to the page https://appimage.github.io/apps/, only a small amount of apps can use AppImageUpdate to "update

[2017-10-26 07:43] emanresusername commented on #4357
oh yeah, was just brainstorming if there was a way to avoid having to manually maintain each file and leverage that hub
maybe the Formula directory (or parts of it) could be generated programatically using the hub
... but maybe that's heading down [this rabbit hole](https://xkcd.com/1629/) 😆
![xckd 1629 tools](https://imgs.xkcd.com/comics/tools.png)

[2017-10-26 08:07] iMichka commented on #4804
In principle this issue should have been opened here: https://github.com/Linuxbrew/brew, as this is a more general brew question.

That's not really helpful as error message. On way to debug this would be to go through the install scripts and put print statements to see where it fails.

[2017-10-26 08:17] iMichka commented on #4609
Closing here. Nothing I can do to help you for the moment. Somebody from the community will need to step up and try to fix this with the ghc people. Thanks for your comprehension.

[2017-10-26 08:17] #4609 closed

[2017-10-26 08:23] iMichka commented on #4587
Fixed by #4802

[2017-10-26 08:23] #4587 closed

[2017-10-26 08:53] cfblaeb opened #4808 "post install error in brew install perl on ubuntu 17.10"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [X] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2017-10-26 10:30] iMichka commented on #4808
Hi. The actual error seems to be:

[code]

See https://bugzilla.redhat.com/show_bug.cgi?id=1464244
The file was renamed in glibc: https://sourceware.org/git/?p=glibc.git;a=commit;h=f0be25b6336db7492e47d2e8e72eb8af53b5506d

It seems from the discussion that a perl rebuild would fix this:
`brew uninstall perl && brew install perl -s`

Could you try that? If it works, I'll rebuilt the bottle for Linu

[2017-10-26 10:45] Clor opened #4810 "Systemd reverts to local bins?"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2017-10-26 11:13] cfblaeb commented on #4808
I tried it, and it seems to work. No errors at least. Thanks.

[2017-10-26 15:06] Clor commented on #4810
When disabling everything, https://lists.freedesktop.org/archives/systemd-devel/2015-March/029595.html , I overcome these issues, but then still run into the `plugin needed to handle lto object` errors... not resolved when following the instructions at https://github.com/Linuxbrew/homebrew-core/issues/4765 . I suppose the problem may be outside of the scope of Linuxbrew here...if you have any thou

[2017-10-26 20:33] ElliotWay commented on #4803
Thanks for the tip - at least now I know why the newer compiler isn't working.

6.1 seems to be the only gcc I have access to; maybe I can find another workaround.

I tried installing gcc@4.9 as a bottle with --ignore-dependencies, but this unsurprisingly didn't work.

[2017-10-26 22:12] iMichka commented on #4766
Fixed by #4770

[2017-10-26 22:12] #4766 closed

[2017-10-26 22:48] ndevenish commented on #4570
I've hit this installing `clang-format` - it also fails if I brew install `mawk`, so I assume that theres some fancy path stuff to only allow use of tools it specifies.

Editing the formula to add a dependency on `mawk` seemed to work.

[2017-10-26 23:09] sjackman commented on #4570
Yep, you're correct, there is fancy path stuff to only allow use of tools it specifies. Adding `mawk` as a dependency is one of the possible solutions. The other would be to modify the `post_install` of `apr` to change `AWK=mawk` to `AWK=awk` in
[code]

[2017-10-27 00:30] tan9 opened #4816 "Failed to upgrade maven to 3.5.2"
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate the problem on macOS with Homebrew, please report the issue to [Homebrew/core](https://github.com/Homebrew/homebrew-core) and foll

[2017-10-27 07:10] albertz commented on #988
[code]

[2017-10-27 07:14] albertz commented on #988
Btw, related might also be [this similar Python issue](https://github.com/Linuxbrew/homebrew-core/issues/4799). There the issue is in the Python `shutil.copy*` functions which try to copy the xattr and that fails for "system.nfs4_acl" which is read-only on NFS. See [here](https://bugs.python.org/issue24564). Maybe Ruby tries to do sth similar here.

[2017-10-27 17:22] sjackman commented on #988
[code]

I don't have any leads for you, other than it looks like a permissions issue. Sorry that I couldn't be of more help, Albert.

[2017-10-29 16:20] Anthonykung opened #4831 "Linux 8.9 (jessie) Error: No such file or directory"
I am trying to install Certbot to get a Let's Encrypt SSL certificate.

An error occurs here is where you can see it https://gist.github.com/Anthonykung/248dd4c4a0646141cecff5011616e093

I expected to have Cerbot installed and start to run it. The sudo command does not work then after some time an error occurs every time when using brew doctor or brew install

I ran sh -c "$(curl -fsSL https://raw

[2017-10-29 22:10] iMichka commented on #4816
Not exactly sure what is going here here.
We had a similar error at one point, see #2584

[2017-10-29 22:13] iMichka commented on #4810
`systemd` is always tricky to build. It would be great if we could stabilise the building for non-root users on different platforms.

I had also the feeling when playing around with it lately that it picked up the wrong dependencies/binaries when building. I'll have to double-check that.
The `plugin needed to handle lto object` problems is also an unsolved problem.

I will not have much time to di

[2017-10-30 06:18] tan9 commented on #4816
@iMichka I have no idea why the `ldd` has been invoked.
I can manually invoke on the `linux64` version in the same archive as following:

[code]

[2017-10-30 16:37] sjackman commented on #4816
It's a bug in `brew` that it's running `ldd` on a non-Linux (BSD) ELF file.
See https://github.com/Linuxbrew/homebrew-core/issues/4816

[2017-10-30 16:59] sjackman commented on #4816
[code]

[2017-10-30 17:02] sjackman commented on #4816
Thanks for the bug report, Pei-Tang.
This bug will be fixed by PR https://github.com/Linuxbrew/brew/pull/517

[2017-10-30 17:03] sjackman commented on #4816
See also https://github.com/Linuxbrew/brew/issues/516

[2017-10-30 17:03] #4816 closed

[2017-10-30 17:27] sjackman commented on #4816
I've merged PR #517. Could you please try…
[code]

[2017-10-30 20:19] xbao opened #4841 "Error running httpie: ModuleNotFoundError: No module named 'encodings'"
- [X ] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [N/A ] If you have a macOS system and can replicate the problem on macOS with Homebrew, please report the issue to [Homebrew/core](https://github.com/Homebrew/homebrew-core) and

[2017-10-30 20:24] xbao commented on #4841
I just did an strace, looks like it expects a bunch of things in 'httpie/0.9.9/libexec' that aren't there:
[code]

[2017-10-30 20:33] xbao commented on #4841
I just fixed this by running `easy_install-3.6 httpie`. You can close this issue thanks :)

[2017-10-31 02:22] tan9 commented on #4816
@sjackman thanks a lot, I can install maven 3.5.2 smoothly.

[code]

[2017-10-31 03:03] sjackman commented on #4816
Glad to hear it!

[2017-10-31 18:22] ElliotWay commented on #4803
I got this working by ignoring my installation of 6.1 entirely and using the fix @tueda figured out in #4077.

[2017-10-31 18:22] #4803 closed

[2017-11-01 16:25] threkk opened #4855 "Golang fails to install on ARM."
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [x] If you have a macOS system and can replicate the problem on macOS with Homebrew, please report the issue to [Homebrew/core](https://github.com/Homebrew/homebrew-core) and foll

[2017-11-01 21:33] Char-Aznable opened #4857 "brew install ffmpeg --with-sdl2 results in malfunctioning ffplay"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2017-11-01 21:43] Char-Aznable commented on #4778
OK. I filled out the template. I've seen a lot of issues with linuxbrew due to various environment variables not set correctly. The thing to note is that my linuxbrew installation is not in the recommended /home/linuxbrew directory because the system admin doesn't allow such setup. Can these be the reason why I've seen a lot of issues with linuxbrew build-from-source installation having something

[2017-11-03 10:26] andb0t opened #4860 "Ubuntu Error: Failed to install vendor ruby"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [ ] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2017-11-06 03:56] lday0321 opened #4885 "gdb: error: no usable python found"
I am trying to install gdb by using brew, after running `brew install gdb`, i got the error message as follow:

[code]

i have install python27 by `brew install python`, and the python header file has been instatlled at:
[code]

the gist-logs has been updated:  https://gist.github.com/927c7000f3b6fb84d48e053ba265b4f6
[code]

thanks for help

[2017-11-07 18:22] crisidev commented on #4885
The problem should be with guile. I fixed it editing the gdb.rb formula file locally and adding "--with-guile" option to configure.

I don't know how this can be fixed upstream as it seems to be a problem between gdb and guile 2.2.

[2017-11-08 02:07] lday0321 commented on #4885
even if i change the gdb.rb locally and use "--with-guile", i still got the sam error msg:
[code]

[2017-11-08 05:24] Char-Aznable commented on #4885
I've got the same issue. I managed to fix my case by:
[code]
The problem appears to be related to configure trying to look for python in the wrong path:
#{HOMEBREW_PREFIX}  instead of #{HOMEBREW_PREFIX}/bin/python2

[2017-11-08 09:01] crisidev commented on #4885
@lday0321 i was with my phone and I made a typo. The configure option is "--without-guile".. sorry about that.

[2017-11-08 12:17] nitinbansal1989 commented on #4788
Thanks

[2017-11-09 01:23] lday0321 commented on #4885
@Char-Aznable , thanks, it works for me!

[code]
[code]

[2017-11-09 09:51] #4634 closed

[2017-11-09 16:48] #4581 closed

[2017-11-09 17:41] sjackman commented on #4885
A PR to make this change would be quite welcome.

[2017-11-10 20:21] TiZ-EX1 opened #4914 "Neko depends on GTK+2???"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2017-11-11 22:38] iMichka commented on #4914
Hi. We never ran a build on `neko` as there seem to be no bottles for it.
I opened a pull request to build bottles here: #4919
This will run the build in a clean environment, so we can see if the same error happens in that build.

If gtk2 is needed I will add it as a dependency, that's all. Of course it would be better to check with the `neko` devs why that is different. Probably there is on expla

[2017-11-11 22:39] iMichka commented on #4914
By this I mean that this not directly Linuxbrew`s fault, but a choice made by the `neko` dev. But we would be pleased to have a working installation and sort this out.

[2017-11-12 22:09] #4651 closed

[2017-11-13 20:21] TiZ-EX1 commented on #4914
The problem with adding GTK2 as a dependency is that it pulls so much of Xorg to build it, all just to be able to use Haxe. I'm going to investigate to see if this is optional. Would it also be possible to just build against system GTK2 libs?

[2017-11-13 20:27] TiZ-EX1 commented on #4914
I think it will be preferable to set the cmake option `WITH_UI` to `OFF` by default, and then set it to on if the user doesn't mind pulling so many Xorg deps to get a half-baked UI API that is barely bound in Haxe anyways.

[2017-11-13 22:04] #4569 closed

[2017-11-13 23:31] paulhybryant commented on #4388
Same here.  gcc 5.4 and cannot install glibc, and linux brew is installed at $HOME/.linuxbrew

[2017-11-15 04:53] alexruzenhack opened #4938 "didn't running the mongod.conf when installing mongodb"
After install and run the `mongod` command I receive this exception `Data directory /data/db not found`. But the property `dbpath` is configured in the mongod.conf file pointing to `/home/linuxbrew/.linuxbrew/var/mongodb`. The appropriate behavior is the mongod command run with the property value configured.

**$mongod** command result

[code]
---

**brew config**

[code]
**brew doctor**

[code]

[2017-11-15 22:30] sjackman commented on #4388
@paulhybryant Please report `brew gist-logs glibc` (or whichever formula failed to build).

[2017-11-16 21:34] MikeSoft opened #4949 "install zeromq"
**Ubuntu 16.04 x64**

mikesoft@mikesoft:~$ brew install zeromq
Error: undefined method `rebuild' for #<BottleSpecification:0x000000017c56b8>
Please report this bug:
    **https://github.com/Linuxbrew/linuxbrew/blob/master/share/doc/homebrew/Troubleshooting.md#troubleshooting**
/home/mikesoft/.linuxbrew/Library/Taps/homebrew/homebrew-core/Formula/autoconf.rb:10:in `block in <class:Autoconf>'
/home/

[2017-11-17 18:09] paulhybryant commented on #4388
The issue is fixed by
brew rm gcc
brew reinstall -s binutils
brew install glibc

[2017-11-17 21:17] sjackman commented on #4388
Do you know why it was necessary to rebuild `binutils` from source? I take it the bottle didn't work for you. The bottle for `binutils` is meant to work on any system.

[2017-11-17 22:20] jaredsampson opened #4950 "`brew install fontconfig` fails on RHEL 6."
# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific Homebrew/homebrew-core formula (not cask or tap) and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Homebrew/brew/issues/new. If it's a `brew cask` problem please file this issue at https://github.com/caskroom/homebrew-cask/issues/

[2017-11-17 23:46] jwhite007 commented on #4499
On my system the path to XML is
```$(brew --prefix)/lib/perl5/perl_local/lib/perl5/x86_64-linux-thread-multi/XML/```; however,
```ENV.prepend_path "PERL5LIB", "#{Formula["intltool"].libexec}/lib/perl5/perl_local/lib/perl5/x86_64-linux-thread-multi/XML/"``` does not work for me. I am still getting ```checking for XML::Parser... configure: error: XML::Parser perl module is required for intltool``` A

[2017-11-18 11:49] iMichka commented on #4949
Hi. Please fill out the issue template. I have not enough information to help you. Thanks.

[2017-11-19 06:23] paulhybryant commented on #4388
I forgot from which thread I saw that but it should be one of the issue in
linuxbrew.
Before I did the described steps, brew install glibc or brew install wget
will fail with
error like ld: cannot find -lc or ld: cannot find -lutil.

Rebuilding binutils from source solves that problem.

On Sat, Nov 18, 2017 at 5:17 AM, Shaun Jackman <notifications@github.com>
wrote:

--
With Regards,

Yu Huang

So

[2017-11-19 08:35] JMoVS opened #4959 "mkvtoolnix doesn't compile"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [x] If you have a macOS system and can replicate th

[2017-11-19 12:04] iMichka commented on #4959
Hi. Thanks for reporting this.
Let's try to reproduce this on our CI: #4963

Interestingly the `pugixml` is in the formula, so it is weird that rake can't find it.

[2017-11-19 12:09] iMichka commented on #4950
Hi. The error seems to be: `nsgmls:(invalid location):E: invalid filename ""`

There was a workaround for that here: https://github.com/Linuxbrew/legacy-linuxbrew/issues/655

Maybe it was that bug that was fixed at one point: https://bugzilla.redhat.com/show_bug.cgi?id=797120
Not sure what version we currently have and if the patch made it in a release.

Would you have time to look a little bit mo

[2017-11-19 12:12] iMichka commented on #4938
Hi. Does this help? https://stackoverflow.com/questions/30235200/mongodb-data-directory-data-db-not-found

Not sure how we can help here; this is a `mongodb` configuration problem. We can not add code to the formula that creates a `/data/db` folder, because if you are not root that will not work.

[2017-11-20 02:09] jaredsampson commented on #4950
Thanks, @iMichka for the link!  `brew install fontconfig --without-docs` solved it for me, and fontconfig installs successfully.

[2017-11-20 02:09] #4950 closed

[2017-11-20 03:28] JMoVS commented on #4959
I just had a look, seems like the fix is on the way? ;-)

[2017-11-20 04:29] jaredsampson commented on #318
I just ran into a similar issue where `cmp` was present in the system but not via `diffutils`, (version 2.8.1, on RHEL 6) but running `make check` still caused the installation to fail.  So it seems checking that `cmp` exists isn't enough.  Furthermore, installing diffutils wasn't sufficient to fix the problem.

[code]

Besides `cmp`, are there any other dependencies of the `make check` target?

I

[2017-11-20 15:26] #4783 closed

[2017-11-20 16:19] sjackman commented on #318
`make check` is failing not because `cmp` is not available, but for some other reason. Does it fail outside of Linuxbrew if your run `./configure && make check`? If so, I'd suggest raising the issue with the upstream developer.

[2017-11-20 19:09] #4765 closed

[2017-11-20 20:22] sbfnk opened #4982 "netcdf: bottle not found"
- [X] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed all issues and retried your prior step?

`brew install netcdf` yields the following error (on mul

[2017-11-20 23:40] jwhite007 opened #4983 "Brew python3 module zmq cannot find libstdc++.so.6"
- [ ] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate the problem on macOS with Homebrew, please report the issue to [Homebrew/core](https://github.com/Homebrew/homebrew-core) and foll

[2017-11-21 00:19] jwhite007 opened #4984 "Warning: dependency was built with a different C++ standard library"
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate the problem on macOS with Homebrew, please report the issue to [Homebrew/core](https://github.com/Homebrew/homebrew-core) and foll

[2017-11-21 17:45] jwhite007 opened #4986 "Hangs: brew install python3 --with-tcl-tk --with-sphinx-doc"
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [x] Ran `brew update` and retried your prior step?
- [x] Ran `brew doctor`, fixed all issues and retried your prior step?
- [X] If `brew gist-logs` didn't work: ran `brew config`

[2017-11-21 20:09] iMichka commented on #4986
Hi. You did not post the gist-log; so we can not debug this. I see no error message here.

[2017-11-21 20:11] iMichka commented on #4984
It is a warning, not an error. We did not see any problem with that since the warning has been there (e.g. since forever). Getting rid of the warning would mean recompiling all the dependencies with gcc5, which we do not have time to do, and just do on a case by case basis.

So until proven differently, this can be safely ignored.

[2017-11-21 20:11] #4984 closed

[2017-11-21 20:13] iMichka commented on #4982
Hi. Sorry, my fault. I forgot to publish the bottle. It happens in rare cases where I pull stuff on my mac and there is a linux specific revision bump.

Please try again, I fixed it.

[2017-11-21 20:13] #4982 closed

[2017-11-21 20:27] iMichka commented on #4841
Sorry we couldn't help you, but you found a workaround. If somebody hits the same problem, a pull request would be great to fix this. Thanks.

[2017-11-21 20:27] #4841 closed

[2017-11-21 20:28] jwhite007 commented on #4984
@iMichka, thank you.

[2017-11-21 20:30] jwhite007 commented on #4986
@iMichka

There are no gist-logs as the install hangs.

Cheers,
James

[2017-11-21 20:31] iMichka commented on #4986
Could you add the `-v` flag to the install command to see if there is a least a little bit of debug output?

[2017-11-21 20:34] jwhite007 commented on #4986
@iMichka

Ok. I'll do that. Thanks.

[2017-11-21 20:47] jwhite007 commented on #4986
```brew -v install python3 --with-tcl-tk --with-sphinx-doc``` just hangs with no output.

[2017-11-22 00:51] #147 closed

[2017-11-22 19:26] tueda opened #4992 "igraph depends on BLAS"
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate the problem on macOS with Homebrew, please report the issue to [Homebrew/core](https://github.com/Homebrew/homebrew-core) and foll

[2017-11-22 19:55] iMichka commented on #4855
Hi. Sorry that I didn't answer earlier.

We do not create bottles for ARM. This is due to a lack of resources (mostly human). So ARM stuff is completely untested. We are willing to merge pull requests if you find a way to fix this, but we are not planning to work actively on this. I'll close this issue. It is up to you or somebody from the community to work on this if you want to get this fixed.

[2017-11-22 19:55] #4855 closed

[2017-11-22 19:58] iMichka commented on #4992
Hi. Yes, these changes need to be done. The two dependencies need to be added within an `unless OS.mac?  / end` block.

Would you be willing to open a pull request in this repository with a fix for this?

[2017-11-22 20:12] tueda commented on #4992
OK. I will try for that.

[2017-11-22 21:55] jwhite007 commented on #4986
```$ brew install python --with-tcl-tk --with-sphinx-doc``` does not hang.

[2017-11-22 22:16] jwhite007 commented on #4986
I'm not sure if something else fixed it and the following just being a coincidence, but it works...
[code]

[2017-11-22 22:20] jwhite007 commented on #4983
I'm not sure what fixed it, but this no longer seems to be an issue.

[2017-11-22 22:20] #4983 closed

[2017-11-22 22:20] iMichka commented on #4986
We pushed brew 1.3.7. Maybe there was a change in there that fixed it. Not sure. If it works for you now we can just close this. Not sure I have time to investigate this more.

[2017-11-22 23:10] jwhite007 commented on #4986
@iMichka
Thanks for the input.

[2017-11-22 23:10] #4986 closed

[2017-11-23 08:36] JMoVS commented on #4959
Any news on this one?

[2017-11-23 08:56] #4804 closed

[2017-11-23 12:19] #4808 closed

[2017-11-23 12:20] 3rico opened #4994 "brew install gsl fails. Please Help, I'm quite new to brew"
With whatever i try installing anything including gsl, brew exits with the following error:

[code]

brew config gives:

[code]

brew doctor gives:

[code]

Please Help

[2017-11-23 16:28] jonaszierer opened #4995 "Mysql install fails with Error 2 on RHEL"
I tried to install mysql (brew install mysql) on RHEL 6.3 after updating/cleaning brew (brew update/brew upgrade/brew cleanup --force) several times.

It fails with "make: *** [all] Error 2" and no further explanations.
log files are here: https://gist.github.com/anonymous/15a534fa004d0b11500a057f459420f6

I tried the same on a mac, where the installation works without any problem.

# Please alway

[2017-11-23 17:59] tueda commented on #4778
Indeed this patch was useful when I tried to install `graphviz` to my machine. Without the patch I got errors like `02.make` in https://gist.github.com/43f1d5d4c33dd402c36f4f2f35baac9d.

[2017-11-23 18:30] JuPlutonic opened #4996 "PhantomJS (2.1.1) reinstall gives error"
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [x] If you have a macOS system and can replicate the problem on macOS with Homebrew, please report the issue to [Homebrew/core](https://github.com/Homebrew/homebrew-core) and foll

[2017-11-23 21:44] iMichka commented on #4959
Sorry hadn't much time to work on this. I'm stuck because the rake process does not output anything for more than 10 minutes and circle ci does not like that.

[2017-11-24 00:29] #4570 closed

[2017-11-24 04:15] JMoVS commented on #4959
I've tried compiling with --verbose and put the resulting output here:

https://gist.github.com/358991daad50045faf7622de2840436e

[2017-11-24 11:57] andb0t commented on #4860
This is still active. I cannot install Linuxbrew on a standard Ubuntu 16.04 LTS machine and would be happy about advice or a link to further documentation.

[2017-11-24 18:45] iMichka commented on #4983
We pushed brew 1.3.7 and 1.3.8. This may have fixed it but not sure. Thanks for closing the issue.

[2017-11-24 22:45] JuPlutonic commented on #4996
after uninstall two times tried `brew install phantomjs -v --force-bottle` (in the formula i removed `depends_on "icu4c"`, removed I'll what I symlinked, icu4c also unlinked).
The second try helped.

[2017-11-24 22:45] #4996 closed

[2017-11-25 15:43] iMichka commented on #4994
I edited your message and put the logs inside triple quotes.

Seems this is failing in the glibc formula:
[code]

I see that brew doctor says:

How is that possible? I think without glibc you shouldn't even be able to boot your computer. Could you double check where glibc is installed? Maybe brew should look at a different place on you system, but your setup seems to be broken.

[2017-11-25 15:43] iMichka commented on #4992
Fixed by #4993

[2017-11-25 15:43] #4992 closed

[2017-11-25 15:54] iMichka commented on #4995
Looks similar to #3708.

No clue what is going on. Maybe you are hitting the memory limit. How much RAM does your computer have?

[2017-11-26 17:25] #4831 closed

[2017-11-26 19:36] iMichka commented on #4831
Hi. Sorry we couldn't help you earlier. There seem to be something wrong with your setup. No clue what is going on. Could you try try to brew update again; to get the latest version of brew?

[2017-11-26 21:14] jonaszierer commented on #4995
Yes it does, but it doesn't offer a solution either.

I tried to install it on different nodes of our grid with >128GB memory, so that shouldn't be the problem....

[2017-11-26 21:18] iMichka commented on #4995
Yes, 128 Gb is plenty of RAM. I would need to test this inside a RHEL 6.3 docker container to see if it can be reproduced, but I do not have much time.

It would be also interesting to see if this also happens outside of Linuxbrew's context, by compiling mysql manually (download the sources and run the compilation): if that does not work you may need to contact the mysql developers.

[2017-11-26 23:31] #4810 closed

[2017-11-27 02:04] jonaszierer commented on #4995
I tried building it from source and get the error:

[2017-11-27 05:51] iMichka commented on #4995
Maybe try adding:
`depends_on "gsasl"`
to the formula

[2017-11-27 11:04] mprimeaux commented on #4860
This is still active. I cannot install Linuxbrew on a standard Ubuntu 16.04 LTS machine and would be happy about advice or a link to further documentation.

[2017-11-27 13:46] Anthonykung commented on #4831
Well, I have tried to update it but it doesn't seem to be working. I have also tried deleting it and install again, nothing happened too.

[2017-11-27 13:46] jonaszierer commented on #4995
doesn't solve the problem, unfortunately.

[2017-11-27 16:18] iMichka commented on #4831
Does the folder exist? /kunden/homepages/37/d699854806/htdocs/tmp/homebrew_check_tmpdir_executable20171029-1511-1khjace

It would be great if you could have a look at what place this folder is created/checked by brew.

[2017-11-28 16:34] iMichka commented on #4949
Closing here for the time being. I’ll reopen this if the needed information is added.

[2017-11-28 16:34] #4949 closed

[2017-11-28 20:11] poblahblahblah opened #5032 "terraform: executable installed is the Mach-O executable"
Installing terraform from the terraform formula drops a Mach-O executable on the filesystem since the formula is designed for OSX and is using gox to build the binary.

# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [X] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you r

[2017-11-28 20:23] poblahblahblah commented on #5032
Now that I think about it, this can be closed - ya'll add the bottles to the formulas to account for this issue.

[2017-11-28 20:23] #5032 closed

[2017-11-28 21:35] danfulop opened #5033 "numpy failed to build on Red Hat Enterprise Linux Server release 7.3 (Maipo)"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2017-11-28 21:43] iMichka commented on #5032
Hi. I did not really understand what you you plan to do/we should do? Anyway, a pull request would be welcome if anything needs to be fixed.

[2017-11-28 21:51] iMichka commented on #5033
The error is:

I guess that this is not installed on your computer. On mac, I thing `accelerate`  is installed by default, which is the mac implementation, which numpy will pick up.

I think we can try with openblas, which is equivalent (of course, performance may be different, but for most use cases it is fine).

Could you try to add this to the formula:
`depends_on "onpenblas" unless OS.mac?"

[2017-11-28 22:06] danfulop commented on #5033
Hi @iMichka. Yes, thanks for extracting the actual error for clarity. I *had* notice that that is the error. Sorry for not making it more clear.

This is odd because I thought I had `brew install`ed Numpy on this cluster without a problem about 1 month ago. I guess the gist-log would show if that was the case or not...

I have **2 questions**:

1. Can I install the the `ltatlas` dependency via bre

[2017-11-28 22:09] iMichka commented on #5033
It is not really about `ld`; it is just `ld` looking for `atlas`, but not finding it. There were updates to brew meanwhile and some dependencies may now be filtered out properly, as we can not rely on people having everything installed. So stuff that worked before may be broken now (but it is quite rare).

To add this line, just run `brew edit numpy`. This will open the formula in vim and you can

[2017-11-28 22:11] danfulop commented on #5033
Awesome! Will try and report back.

[2017-11-28 22:25] danfulop commented on #5033
@iMichka Nope, openblas didn't work and it's still complaining about not finding `ltatlas`. Here's the gist for the output using openblas: https://gist.github.com/danfulop/15c6091c4550b7fe5175ff007db6c8e2

[2017-11-29 02:02] hangong commented on #4388
@PaulCapestany Your workaround did not work for me. I'm still unable to install glibc.

ORIGIN: https://github.com/Linuxbrew/brew
HEAD: 3aecdc02948da03bb9feab52643eecfc02d903d5
Last commit: 29 hours ago
Core tap ORIGIN: https://github.com/Linuxbrew/homebrew-core
Core tap HEAD: dbe8816162b3aeafc62fc551205e3bd937577d2b
Core tap last commit: 6 hours ago
HOMEBREW_PREFIX: /home/hg299/.linuxbrew
HOMEBRE

[2017-11-29 06:08] iMichka commented on #4388
HOMEBREW_VERSION: >1.2.0

That's super old. Could you update first?

[2017-11-29 08:33] JuPlutonic commented on #4860
which -a ruby: is
/usr/bin/ruby ?

[2017-11-29 08:46] JuPlutonic commented on #4860
See `echo $PATH`
If you have rbenv / rvm you can place it after /usr/bin
replace export PATH="/home/**youruser**/.rbenv/shims::$PATH" with PATH="$PATH:/home/**youruser**/.rbenv/shims"
Or just change rbenv / rvm ruby !

[2017-11-29 12:22] hangong commented on #4388
@iMichka I was given the 1.2 version when the system did not have a git (maybe this is another bug). So, I compiled and installed one. And, I removed the old brew and had a fresh install (when git was available).

But I still got the same error. BTW, I did not have the root permission.

[code]

[code]

I have also tried [this](https://github.com/Linuxbrew/brew/wiki/CentOS6#install-linuxbrew-on-cen

[2017-11-29 18:27] danfulop commented on #5033
Thinking that one solution would be to install ATLAS and searching for whether it has a formula, I bumped into this issue thread that I'm now reading: https://github.com/Linuxbrew/legacy-linuxbrew/issues/1075

[2017-11-29 18:45] danfulop commented on #5033
There apparently is no formula for ATLAS, as `brew install atlas` didn't work: `Error: No available formula with the name "atlas"`

Another potential solution could be to install the SciPy suite (including Numpy) using Conda, but:

1. I don't know if it will include ATLAS
2. I haven't figured out a way to make Conda and Linuxbrew play nice

[2017-11-29 18:47] sjackman commented on #4388
Consider installing Linuxbrew in `/home/linuxbrew/.linuxbrew/` if possible so that you can use precompiled binary packages (known as bottles) for non-relocatable formula like `glibc`.

If it's an option for you, you could open a ticket with your systems department to ask that they create a `linuxbrew` role account with home directory `/home/linuxbrew` for the purpose of sharing software that is us

[2017-11-29 18:49] sjackman commented on #4388
[code]

For troubleshooting, try…
[code]

[2017-11-29 18:52] sjackman commented on #5033
Check if `numpy` has an option to disable ATLAS (perhaps `--without-atlas`) and instead use OpenBLAS (perhaps `--with-openblas`).

[2017-11-29 19:01] hangong commented on #4388
@sjackman Thanks for the reminder. The error codes are actually the same as my previous post.

[code]

[code]

[2017-11-29 20:08] sjackman commented on #4388
I was hoping that `brew -dv` would give a prompt where you could inspect further what's awry with the `gencat` executable. Sadly no prompt it seems.

As hack workaround, try commenting out this line:
[code]
https://github.com/Linuxbrew/brew/blob/master/Library/Homebrew/os/linux/elf.rb#L68
Then set `export HOMEBREW_NO_AUTO_UPDATE=1` and try `brew install` again.
After `glibc` is installed, we can i

[2017-11-29 20:52] hangong commented on #4388
@sjackman Thanks. Glibc is installed. However, its post-installation failed.

[code]

gcc is then successfully installed. However, it did not pass the test.
[code]

When I tried to compiled a helloworld.c with gcc.
[code]

[2017-11-29 21:29] sjackman commented on #4388
Try…
[code]
and check that `/home/hg299/.linuxbrew/lib/libc.so` exists.

[2017-11-29 21:35] hangong commented on #4388
@sjackman post-installed gcc with no errors. but it still failed the test (cannot find -lc).

[code]

[2017-11-29 21:52] sjackman commented on #4388
[code]

That's a strange path for `ld`. Do you have `binutils` installed by `brew`? Please report…
[code]

[2017-11-29 22:12] hangong commented on #4388
Yes, it was already there. I installed it by ```brew install -s binutils```

OK, let me rollback. I executed the following steps first.
[code]

The above commands were executed with no errors (with the aforementioned workarounds)

[code]

[code]

[2017-11-29 22:35] sjackman commented on #4388
Report the output of…
[code]
The last few lines of the `specs` file should look like this:
[code]

[2017-11-29 22:36] #4857 closed

[2017-11-29 22:53] hangong commented on #4388
[code]

[2017-11-30 00:35] sjackman commented on #4388
I'm running out of ideas. Sorry, Han.

[2017-11-30 01:49] hangong commented on #4388
Thanks @sjackman . I suspect this is caused by something else.

There is a missing step to generate "~/.linuxbrew/Cellar/glibc/2.23/etc/ld.so.conf" and run ```ldconfig``` for the cache.

However when I run ```ldconfig```, I got:
[code]
everything is **truncated**. What does that imply? The compiled libs are not compatible with the brew base? Interesting.

[2017-11-30 07:06] sjackman commented on #4388
Linuxbrew uses `RPATH` embedded in each executable rather than `ld.so.conf`. It' not necessary to run `ldconfig`. The executables are modified with `patchelf` after they're installed. Most tools are fine with that, but `ldconfig` is not. It thinks they're "truncated".

[2017-11-30 07:29] iMichka commented on #4857
Hi. Sorry I didn’t answer before. @sjackman I think this will fix the sdl error we are seeing in many tests.

Maybe this happens because the bottle is being build inside a socket container, which has no X.

@Char-Aznable were you installing from bottles? Could you remove your patch from your local installation, uninstall sdl2, and install it again from source. I want to check if the fix is really

[2017-11-30 11:57] hangong commented on #4388
Thanks anyway. I'm giving up. So the conclusion is that the current brew does not work on "openSUSE Leap 42.3" with **non-root** account. I have seen similar posts somewhere else before.

[2017-11-30 23:56] sjackman commented on #4857
`--with-x` should probably be the default behaviour on Linuxbrew.

[2017-12-01 00:57] Char-Aznable commented on #4857
When I had this issue the first time, I tried both bottled version of sdl2 and building it from source (with the original sdl2 formula) and both gave me the same error.

[2017-12-01 01:19] sjackman commented on #4388
I've successfully installed Linuxbrew as a non-root user on an OpenSUSE 42.3 Leap system using Docker. So, I'm afraid that I'm not able to replicate your issue. It appears to be unique to your system.

Here's the `Dockerfile` that I used for a user with `sudo` access:
https://github.com/Linuxbrew/docker/blob/master/opensuse/Dockerfile

Here's a `Dockerfile` script for a user that does not have `su

[2017-12-01 17:48] fennerm commented on #4995
Symlinking libsasl2 also fixed this for me. This issue also seems to be present in mariadb install.

[2017-12-01 17:50] iMichka commented on #4995
I do not have much time. Could somebody research what is the difference between gsasl and libsasl2? Ideally we should not need to make that symlink.

[2017-12-01 18:02] Char-Aznable commented on #5033
I had the same issue before. In my case, I had to customize a 'site.cfg' file to tell the numpy installer where to find the BLAS/ATLAS/OpenBLAS library and then it worked:
[code]
Actually, these lines are already present in the scipy formula 'scipy.rb'

[2017-12-01 19:27] iMichka commented on #5033
@Char-Aznable Would you be willing to submit a pull request for this? Seems to be the right solution, so we can just use `openblas` to start with :)

[2017-12-01 23:38] hangong commented on #4388
@sjackman Would this be helpful for you to find out what went wrong?

```strace gcc helloworld.c```

https://paste.fedoraproject.org/paste/uFvOPuXLRYsCQZF4xy3X7A

[2017-12-01 23:44] sjackman commented on #4388
I'm afraid that I don't have the time available to help troubleshoot. Sorry!

[2017-12-02 08:28] iMichka commented on #4860
Hi. Here is a Dockerfile that demonstrates that the installation works correctly:

[code]

The script that installs ruby is here: https://github.com/Linuxbrew/install/blob/master/install-ruby
As I can not reproduce this, can somebody run that script locally and try to debug it?

[2017-12-02 17:27] iMichka commented on #4857
@Char-Aznable I updated the formula to build with-x, see #5063.

Could you brew upgrade, uninstall `sdl2`, and install it again, to test the bottle? Thanks.

[2017-12-04 19:21] iMichka commented on #4914
Fixed by #4919. Apache and Mysql will stay ON, because this is the default. If you want to have this  put on OFF, you need to lobby upstream (the neko devs) to put this to OFF by default. On the other side, all the dependencies and neko has bottles; so this should really fast to install.

[2017-12-04 20:17] TiZ-EX1 opened #5074 "Fails to build httpd"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2017-12-06 19:48] kenkoooo commented on #4570
@sjackman Thanks!
It completely works by changing `AWK=mawk` to `AWK=awk` in `.linuxbrew/Cellar/apr/1.6.3/libexec/build-1/apr_rules.mk`

[2017-12-06 20:00] TiZ-EX1 opened #5090 "Crystal-lang doesn't build against Linuxbrew's LLVM"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2017-12-07 03:08] lucasyvas opened #5091 "'brew install kubernetes-cli' error"
[✔] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
[N/A] If you have a macOS system and can replicate the problem on macOS with Homebrew, please report the issue to [Homebrew/core](https://github.com/Homebrew/homebrew-core) and follow

[2017-12-07 15:44] lucasyvas commented on #5091
After looking at the formula, for a bit I considered that due to the need to have ENV.deparallelize there may have been a race condition somewhere.

I tried a tip from Homebrew to pass the environment variable:

HOMEBREW_MAKE_JOBS=1 on the execution line, but it made no difference.

[2017-12-07 16:04] iMichka commented on #5091
One solution would be to try to compile this “outside” of homebrew. This means following the same steps as the formula but in a local folder. If it fails there is is an upstream problem an need to be reported there

[2017-12-07 18:06] #4885 closed

[2017-12-07 19:09] lucasyvas commented on #5091
I will see what I can figure out. I was mainly looking for validation that there was nothing odd looking in the gist output. The two machines are close, but there are some differences. This is the gist for the working machine:

https://gist.github.com/anonymous/765e1e8dc57ba831dc0c581b57e6048f

Maybe it is Clang/GCC related. I'll see if I can close the gap a bit between the machines when I have ti

[2017-12-07 20:23] iMichka commented on #5091
I do not see anything special in the gist log.

I started working on fixing the build back then, in #4676, and gave up due to weird errors.

[2017-12-07 21:07] lucasyvas commented on #5091
I appreciate you taking time to look and bringing the existing issue to light. I got my machines in line as far as brew config goes, but no luck on the easy approach. They're beefy enough it shouldn't be a resource related problem. If need be I will just not use Linuxbrew for this one, so no biggie.

If I find anything I will post it here, but it seems like it could be an upstream issue that's tri

[2017-12-07 21:07] #5091 closed

[2017-12-07 21:09] iMichka commented on #5091
Yes. I am personally not using that tool; so it is on my low priority list. If somebody wants to get this fixed he will need to have a closer look at the build process. I am willing to provide a little bit of support if there are any questions, but that's all I can do for the moment.

[2017-12-07 21:12] lucasyvas commented on #5091
Speak of the devil... I'm not sure what happened, but after getting them in line, all of a sudden "boom." I won't claim this helps you solve your original issue in any way, but there's something about this config that's not well liked. So the second gist is OK, and the first is not

[2017-12-07 21:18] iMichka commented on #5074
I see that httpd does not have bottle. It would be great if we could fix this.

The error is:

I see that we explicitly pass `--with-apr` and `--with-apr-util` to configure. Maybe that path is wrong for Linux and needs some tweaking.

[2017-12-08 01:56] tundratim opened #5107 "Prebuilt gcc Installation Fails In ~/.linuxbrew"
Attempting to install in a CentOS 7 docker container using this command:

sh -c "$(curl -fsSL https://raw.githubusercontent.com/Linuxbrew/install/master/install.sh)"

- If I install in /home/linuxbrew, everything works as expected including the binary install of gcc and its dependencies.

- If I install in ~/.linuxbrew, the prebuilt gcc package refuses to install, claiming it need a compiler for g

[2017-12-08 06:57] iMichka commented on #5107
Hi. Thanks for reporting this.

I think we sort of know about that problem b cause I have seen similar reports elsewhere.

@sjackman may know more about these.

On my side I have limited time so not sure I will have much time working on this.

[2017-12-08 07:00] iMichka commented on #5090
I think brew will pick up the first compiler found in your path. The idea is that you can the. Work with your system’s compiler.
I think you can force the usage of another compiler by using this:
‘HOMEBREW_CC=gcc-4.5 HOMEBREW_CXX=g++-4.5 brew install xxx’

[2017-12-08 07:01] sjackman commented on #5107
Hi, Tim. Compiling glibc from source requires GCC ≥ 4.7, and so can be a bit tricky on a system that does not provide a new enough GCC. There's instruction for common distributions of Linux on the wiki. Which distribution of Linux are you using? https://github.com/Linuxbrew/brew/wiki

[2017-12-08 07:03] iMichka commented on #4994
Closing this, as I think there is a problem with your setup. We can reopen this or continue to discuss you issue here if you have more information. Thanks.

[2017-12-08 07:03] #4994 closed

[2017-12-08 07:15] iMichka commented on #4481
I’ll close this as nobody seems to be working on this. Feel free to open a pull request though.

[2017-12-08 07:15] #4481 closed

[2017-12-08 14:15] tundratim commented on #5107
@sjackman -

I think I probably was not as clear as I should have been:

- Installing into /home/linuxbrew works perfectly.  gcc and all its dependencies get installed as executable binaries without any native OS (CentOS7) compiler.

- If I attempt an installation _anywhere else_, the installer refuses to install the precompiled version of glibc.  It demands a local compiler to try and build thing

[2017-12-08 15:49] sjackman commented on #5107
The precompiled binary bottles of non-relocatable bottles can only be used if you install in `/home/linuxbrew/.linuxbrew`, otherwise they have to be built from source. See the documentation below, but wherever it reads `/usr/local`, which is for macOS, read instead `/home/linuxbrew/.linuxbrew`.
+ http://docs.brew.sh/Installation.html#alternative-installs
+ http://docs.brew.sh/FAQ.html#why-do-you-c

[2017-12-08 17:55] russel commented on #4481
Given the problem still exists, is closing the issue the right thing to do?

[2017-12-08 18:51] euclio commented on #5107
I was able to bootstrap with

[code]

[2017-12-08 20:05] sjackman commented on #5107
Cool. Glad to hear that bootstrapping workaround works for you, Andy. Yes, that looks like a bug in the `rust` formula.

[2017-12-08 20:07] sjackman commented on #5107
@euclio Consider installing Linuxbrew in `/home/linuxbrew/.linuxbrew/` if possible so that you can use precompiled binary packages (known as bottles) for non-relocatable formula like `rust`.
Another possible workaround for you is `brew install --force-bottle rust`, but no promises. I'd be curious to hear back from you if that works.

[2017-12-08 21:33] tundratim commented on #5107
@sjackman
Understood, and I sort of had grokked that on my own.

I think I've gotten to the nub of the problem ...

Here is the exact sequence of breakage - keep in mind that I am trying to create a linuxbrew installation that I can clone to other machines into the exact same location:

- Spin up a CenOS7 docker container and log into it.
- sudo yum groupinstall 'Development Tools'
- git clone htt

[2017-12-08 21:48] iMichka commented on #4481
It is our policy. We prefer to close issues regularly, so that there are no false expectations. We even have a automatic bot that closes issues after 30 days of inactivity. Issues are still searchable, and can be reopened if needed.

At least I have an overview of what is currently being worked on.

[2017-12-08 22:03] sjackman commented on #5107
Yep, I agree that's a bug. It'd be easier to troubleshoot though if you gave the exact command that you ran and the error message that you saw, without paraphrasing. Use `brew gist-logs foo` where `foo` is the package that failed to install.

[2017-12-08 22:07] tundratim commented on #5107
@sjackman

here you go: https://gist.github.com/760a2f887eaf22194f71148de5b9f3b0

[2017-12-08 22:17] tundratim commented on #5107
Also in other case (e.g. brew -v install joe) this little bit of badness is breaking config:

     gcc-5 -qversion

[2017-12-08 22:23] xandrrix opened #5112 ""brew install libpqxx" fails"
So below I've output what happened. Basically this is what happens:
1. Attempt to install libpqxx.
2. Told

3. Install xmlto "manually" with brew install xmoto
4. Run "brew install libpqxx" again.
5. Same Error. :-/

SOLUTION: add " --disable-documentation" as it suggests somehow?

xandrrix@xandrrix-virtual-machine:~$ brew install libpqxx
==> Tapping linuxbrew/extra
Cloning into '/home/xandrrix/.l

[2017-12-08 22:30] sjackman commented on #5107
`gcc-5 -qversion` failing is a red herring. `gcc-5 -qversion` is expected by `configure` to fail. `configure` doesn't unfortunately tell you which failures are expected, and which aren't.

[2017-12-08 22:31] sjackman commented on #5107
[code]
https://gist.github.com/anonymous/760a2f887eaf22194f71148de5b9f3b0#file-02-make-L6

[2017-12-08 22:47] sjackman commented on #5107
Try this patch: https://github.com/Linuxbrew/brew/pull/530

[2017-12-08 22:49] tundratim commented on #5107
@sjackman

Yes, I know.  But the make DOES exist in /my/fine/location/bin and my $PATH includes that.

The problem goes away if I reinstall system make.

[2017-12-08 22:55] tundratim commented on #5107
@sjackman       Yup, that patch seems to work.  Woot! :)

[2017-12-08 22:55] sjackman commented on #5107
Thanks for the bug report, Tim.

[2017-12-08 22:56] tundratim commented on #5107
still testing

[2017-12-08 23:31] tundratim commented on #5107
@sjackman

While we're at it ... did the Conditional.pm problem ever get resolved and/or is there a workaround for openssl, because this breaking a bunch of packages that have openssl as a dependency - emacs, for example

[2017-12-08 23:44] sjackman commented on #5107
I don't recall the problem. Can you please provide a link to the exact command and error message?

[2017-12-08 23:54] tundratim commented on #5107
Still investigating, but I think it is an echo of this one:

https://github.com/Linuxbrew/homebrew-core/issues/4538

[2017-12-09 00:05] tundratim commented on #5107
@sjackman

Also, here is yet another problem I've been running into.  Procedure:

- Clone, and do initial installation with system gcc
- rsync the resulting system to a new machine that has never had dev tools on it
- when you then try to do an install, it complains about not being able to find crt1.o, even though it exists in the linuxbrew filetree:   https://gist.github.com/anonymous/a19fac9acdc

[2017-12-09 00:12] sjackman commented on #5107
[code]
The search path to `crt1.o` can be modified using either the `-B` option of `gcc` or the `LIBRARY_PATH` environment variable. `superenv` can be modified to add `-B` to the command line:
https://github.com/Linuxbrew/brew/blob/master/Library/Homebrew/shims/linux/super/cc

[2017-12-09 03:11] tundratim commented on #5107
This is more of a philosophical thing, I guess, but ISTM that - if brew has gcc and glibc installed - the environment should seamlessly prefer those libraries over the system libs.  The general idea, I think, is that brew creates and environment independent of the OS and it should be transparently preferred when possible.

[2017-12-09 04:43] sjackman commented on #5107
Close unintentionally.

[2017-12-09 04:52] sjackman commented on #5107
Yep, it's a bug. I reproduced this issue on Ubuntu 16 Xenial like so:
[code]
[code]
`brew test gcc` succeeds, unexpectedly.

[2017-12-09 05:05] sjackman commented on #5107
`brew test gcc` use `--env=std`, and `--env=std` sets `LD_LIBRARY_PATH`, but `--env=super` does not.
https://github.com/Linuxbrew/brew/blob/master/Library/Homebrew/test.rb#L17
https://github.com/Linuxbrew/brew/blob/master/Library/Homebrew/extend/ENV/std.rb#L63

[2017-12-09 05:24] sjackman commented on #5107
Sorrowful is he for whom the oracle reveals his own post on Stackoverflow… unanswered, for he is truly screwed.
https://stackoverflow.com/questions/28904902/how-do-i-change-gccs-default-search-directory-for-crti-o

[2017-12-09 05:29] sjackman commented on #5107
There's a workaround though:
[code]

[2017-12-09 05:55] sjackman commented on #5107
And here's another workaround:
[code]

[2017-12-09 06:46] sjackman commented on #5107
@tundratim Does this PR fix the `ld: cannot find crt1.o` error?
https://github.com/Linuxbrew/brew/pull/531

[2017-12-09 14:51] russel commented on #4481
I guess this is marketing at work: it isn't good marketing to have lots of perfectly valid issues lying around, better to "sweep them under carpet" and make it appear there are lots of really closed issues.

Sorry to sound off but this is the third project taking this approach I have come across recently. I guess on the constructive side, GitHub is failing to provide an issues system that works fo

[2017-12-09 16:37] sjackman commented on #5107
@tundratim Here's another fix for the same issue, and this one's better. It symlinks `crt1.o` and friends from `glibc` into `gcc`. To test it, apply the patch, and then run `brew postinstall gcc`.
https://github.com/Linuxbrew/homebrew-core/pull/5120

[2017-12-09 17:23] sjackman commented on #5107
I've merged PR https://github.com/Linuxbrew/homebrew-core/pull/5120. To test it:
[code]

[2017-12-09 21:00] iMichka commented on #4481
I don't know. You must understand that we are an understaffed team of unpaid volunteers. I am mostly running this repository, with the help of 2 or 3 other developers. I do not have time to respond to all the issues and fix everything. Closing issues is not the best solution, but at least it reduces the amount of issues I am effectively working on.

And I prefer our situation to these repositories

[2017-12-09 21:54] tundratim commented on #5107
@sjackman Will test and get back to you.

[2017-12-09 23:46] tundratim commented on #5107
@sjackman

So your last commit seem to fix many sins.

However, I am still seeing this problem ... which I guess is likely unrelated ... when attempting to build emacs:

https://gist.github.com/anonymous/6c9f6b383a078efd368a0522e57702ab

[2017-12-10 01:03] tundratim commented on #5107
@sjackman

I don't know if this is new behavior, but I am trying to install things like nload and seeing this:
Error: No such file or directory - /my/fine/dir/opt/glibc/bin/ldd

[2017-12-10 06:26] sjackman commented on #5107
[code]
https://gist.github.com/anonymous/6c9f6b383a078efd368a0522e57702ab#file-02-make-L1014
I've no idea what that's about. You may want to try the Emacs developers.

[2017-12-10 06:27] sjackman commented on #5107
`Error: No such file or directory - /my/fine/dir/opt/glibc/bin/ldd`

Can you please report `brew gist-logs nload`?

[2017-12-10 06:28] sjackman commented on #5107
Glad to hear it!

[2017-12-10 06:28] sjackman commented on #5107
Are you able to install Linuxbrew in `/home/linuxbrew/.linuxbrew` so that you can use the precompiled bottle for `emacs`?

[2017-12-10 15:47] tundratim commented on #5107
@sjackman

1) Am pretty sure I've been able to install emacs via standard bottle in the past.  But I really want to be able to create a full brew installation at a bespoke filesystem location.

2) I was confusing two different problems.  nload build blows out because of "can't locate Autom4te/C4che.pm",  gist here:  https://gist.github.com/anonymous/88b896faddd6abea0e993d763da0b77b  I've actually

[2017-12-10 16:57] sjackman commented on #5107
[code]

This looks like a known bug that occurs when the executable `file` is not installed or is too old. If you have admin access, please install `file`. If not, try this workaround:
[code]
from https://github.com/Linuxbrew/brew/wiki/CentOS5

[2017-12-10 17:58] tundratim commented on #5107
No joy, either with the CentOS7 version installed, or with the brew compiled version.  Same issue.

[2017-12-10 19:06] tundratim commented on #5107
Just for giggles, I tried installing a base linuxbrew installation (gcc+make+file) in ~/.linuxbrew since this is one of the two supported install locations officially supported, but the only one that does not require root.

The problems with emacs and screen remain.

[2017-12-10 19:52] tundratim commented on #5107
@sjackman

SOLVED: emacs build problems

It turns out this is caused by the way docker constrains kernel access.  Discussion and workaround here:

https://pastebin.tundraware.com/view/e309f836

[2017-12-10 23:25] tundratim commented on #5107
@sjackman

More on the nload problem...  It seems that @INC is not pointing to the locally installed version of perl.  See the gist: https://gist.github.com/anonymous/27dcd5acdf5d906e811b47e35897177d

I don't know if this is a problem with the nload formula or another issue like brew preferring system installations over the brew-installed versions of things.

[2017-12-10 23:36] sjackman commented on #5107
Try `brew edit nload` and adding…
[code]

[2017-12-11 06:55] AndLen opened #5126 "pulseaudio failed to build on ArchLinux"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [ x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ N/A] If you have a macOS system and can replicat

[2017-12-11 08:23] MrWanter opened #5127 "gawk is required but no root privilege available"
Hi! I came across a problem, not very involved, I also want to use `Linuxbrew` for setting up some pkg on a remote server which I have no root privilege on, after install `Linuxbrew` follow the direction on official `linuxbrew` site, then near eveything I want to install with brew install came with:
[code]
I'm considering download source of `gawk` and build it manually in `HOME` directory, but don

[2017-12-11 19:53] iMichka commented on #5127
Hi. Why don't you `brew install gawk`?

I think that if you install it from source, it just needs to be first in your PATH to be picked up.

[2017-12-11 20:03] iMichka commented on #5126
Hi. I think the actual error is:
[code]

I do not have much time to look after this, but I guess the best bet would be to find a way to disable the writing of the `.rules` file. Of course this means that you will not be able to use features related to the usage of this `.rules` file (I guess some communication with external  hardware).

[2017-12-11 20:07] iMichka commented on #5112
Hi. Installing `xmlto` alone is not sufficient. It needs to be added as an explicit dependency in the formula.

Could you try adding this line to the formula: `depends_on "xmlto" => :build unless OS.mac?` ?

A pull request would be welcome if this works for you.

[2017-12-11 21:44] AndLen commented on #5126
Is there a way to use the system provided pulseaudio for dependencies as an interim solution?

[2017-12-12 00:54] AndLen opened #5132 "systemd failed on ArchLinux"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x ] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [n/a ] If you have a macOS system and can replicat

[2017-12-12 00:56] MrWanter commented on #5127
with `brew install gawk` prompts:
[code]

[2017-12-12 02:04] tundratim commented on #5107
That seems to have not made any difference.  Still seeing this:

Can't locate Autom4te/C4che.pm in @INC (@INC contains: @@HOMEBREW_CELLAR@@/autoconf/2.69/share/autoconf /usr/local/lib64/perl5 /usr/local/share/perl5 /usr/lib64/perl5/vendor_perl /usr/share/perl5/vendor_perl /usr/lib64/perl5 /usr/share/perl5 .) at /opt/TundraWare/tools/opt/autoconf/bin/autom4te line 37.
BEGIN failed--compilation abor

[2017-12-12 02:38] sjackman commented on #5107
This looks like a known bug that occurs when the executable `file` is not installed or is too old. If you have admin access, please install `file`. If not, try this workaround:
[code]
from https://github.com/Linuxbrew/brew/wiki/CentOS5

You'll need to start over with a fresh installation of Linuxbrew, then install `file` as above, then install whatever packages you're interested in. Any package th

[2017-12-12 02:59] MrWanter commented on #5127
Is there other ways for me to setup pkgs on a server without root privilege?

[2017-12-12 03:10] xandrrix commented on #5112
Thank you so much Sir iMichka! SOLVED just like that. I'm not sure how to push that formula change to the repo for everyone else to use, but I've pasted it below. But I'll poke around and see if I can't figure out how to actually pull/update as you asked. Cheers!

Final version of formula was:
[code]

[2017-12-12 06:22] iMichka commented on #5112
Cool. There are some instructions to get you started: https://github.com/Linuxbrew/brew/blob/master/docs/How-To-Open-a-Homebrew-Pull-Request.md

I can guide you through the process if you have any questions.

[2017-12-12 18:53] draeath opened #5137 "RHEL6: gcc bootstrap with --without-glibc falls over with unrecognized ld option -B"
- [X] Ran `brew update` and retried your prior step?
- [X] Ran `brew doctor`, fixed all issues and retried your prior step?
- [X] Ran `brew gist-logs <formula>` (where `<formula>` is the name of the formula that failed) and included the output link? [link here](https://gist.github.com/76b2d05e96e341c2386cd40b3ae11828)

- What you were trying to do (and why)
  Stand up linuxbrew in a docker contain

[2017-12-12 21:42] iMichka commented on #5127
I guess you can manually download the source code and compile by hand.
You can look at the command line used for that in the formula: https://github.com/Linuxbrew/homebrew-core/blob/master/Formula/gawk.rb

[2017-12-12 22:23] iMichka commented on #5137
Hi. Got this also today with this pull request: #5143

I have the feeling this with brew 1.3.9. @sjackman may know more. I will have time to look at this but probably only tomorrow.

[2017-12-12 23:11] sjackman commented on #5137
Thanks for the bug report, Paul. I likely introduced this bug with PR https://github.com/Linuxbrew/brew/pull/531. I'll look into it.

[2017-12-12 23:14] sjackman commented on #5137
This PR should hopefully fix this issue: https://github.com/Linuxbrew/brew/pull/535

[2017-12-12 23:14] #5137 closed

[2017-12-12 23:49] sjackman commented on #5137
I've merged PR https://github.com/Linuxbrew/brew/pull/535.

[2017-12-13 03:09] battlemidget commented on #4860
@iMichka what's the process to debug this? I run Ubuntu exclusively and haven't seen this issue but am willing to try to get to the cause of this.

[2017-12-13 12:40] fcying opened #5149 "How can I install vim with python && python3?"
I try use this, All failed
[code]

[2017-12-13 15:23] draeath commented on #5137
Thanks, confirming you fixed it!

[2017-12-13 15:31] iMichka commented on #5149
Hi. Please fill out the full issue template. I do not have enough information to help you.

[2017-12-13 15:33] iMichka commented on #5137
Cool. That worked! Thanks.

[2017-12-13 18:57] sjackman commented on #5137
Great!

[2017-12-13 20:21] tundratim commented on #5107
@sjackman

I've spent some time to try and really localize the problem.  I start with a clean CenOS7 docker image with the native Development Tools package installed.  Then I:

[code]

At this point,, I switch to a brand new docker container that does not have perl in it and do this:
'''   brew install git
'''
As you can see here, the installer is hardwired to look for perl in all he wrong places:

[2017-12-13 20:42] iMichka commented on #4860
Hi. Thanks for looking into this. As you can't reproduce this, I am not sure how you could help.

The error is:
[code]

The idea would be to run the https://github.com/Linuxbrew/install/blob/master/install-ruby script locally and to edit it to add some echos/prints inside it, and to look at what step this fails.

[2017-12-13 23:23] sjackman commented on #5107
There's probably going to be lots of scripts in source from upstream developers that hard codes `#!/usr/bin/perl` when it should probably use `#!/usr/bin/env perl`. Fixing each case is possible but will be a pretty tedious process. If you don't have a Perl interpreter at `/usr/bin/perl`, I'd suggest symlinking the brewed Perl to `/usr/bin/perl`.

[2017-12-13 23:32] tundratim commented on #5107
@sjackman

So ... it would seem that either you HAVE to have system perl installed or there is no way to run a relocated version of linuxbrew at all if you do not have root.   This is a real bummer.

[2017-12-13 23:41] sjackman commented on #5107
`brew` itself does not call `/usr/bin/perl`. The compile scripts (like `Makefile`) of any of the formulae may call `/usr/bin/perl`. You may if you like open an upstream bug report with the author of each individual software that gives this error and suggest that they instead use `#!/usr/bin/env perl`.

[2017-12-14 00:15] Char-Aznable commented on #4857
I can't afford running brew upgrade now but the same error persists if I do
[code]
brew uninstall sdl2
brew install sdl2 --build-from-source
[code]

[2017-12-14 03:20] fcying commented on #5149
I modify vim.ra's build script, it can build vim with python && python3 now.

[2017-12-14 03:20] #5149 closed

[2017-12-14 06:45] iMichka commented on #4857
DId you run brew update before?

[2017-12-14 06:53] iMichka commented on #5149
Is that a change that can be shared, so that other  people can use it? Pull requests are welcome!

[2017-12-14 07:20] Char-Aznable commented on #4857
Yes, I did and I saw changes in the formula.

[2017-12-14 12:59] fcying commented on #5149
just add two option to build vim8
[code]
It make vim  `+python3/dyn` && `+python/dyn`

In vim.rb, there is a comment
[code]
but I test ":py3 import sys" work fine.

[vim.zip](https://github.com/Linuxbrew/homebrew-core/files/1559231/vim.zip)

[2017-12-14 15:27] tundratim commented on #5107
@sjackman

POSSIBLY SOLVED:  I want to summarize what I've learned and possibly save others the pain.

Goal:  Build a working linuxbrew installation at an arbitrary location in the filesystem.

Problem: Many of the installation/build scripts make hardwired assumptions about using system perl. This means that the the system perl's @INC definitions win, not the perl that is installed with brew.

Sol

[2017-12-14 15:30] iMichka commented on #5107
I think that others would be interest in your work if your setup works out. Maybe we could add some instructions to our wiki page or link to some documentation if you have time to write down the instructions. I think this would be really great.

[2017-12-14 15:33] tundratim commented on #5107
@iMichka

Absolutely.  I am about 50-60 hours of work into this mess and I need this to work o preserve my sanity :)

Public Service Announcement:  If you write scripts - other than /bin/sh - NEVER EVER assume where a ANY program lives.   Figure it out at runtime using /usr/bin/env or other mechanisms like 'find'.  HARDWIRED PATHS ARE EVIL.

[2017-12-14 21:03] djbclark opened #5164 "No longer possible to use local system gcc / build tools for many formulae?"
**I will update this ticket with vastly more specifics if need be, but it strikes me that this has a good chance of being a planned change developers would just know about.**

Has something changed over the past several months to force the build of large build-process packages - specifically including the below - as deps of a vast number of formulae, including python sometime after 2.7.13_1?

* bi

[2017-12-15 00:15] sjackman commented on #5107
Agreed!

[2017-12-15 01:31] tundratim commented on #5107
OK - thanks, you guys, for all the help.  It looks like I am 99% of the way there and will be documenting the steps to a position-independent linuxbrew install.  The one thing I have to fix is a problem with socat not going in cleanly when building with the bootstrapped environment...  it's missing yet another perl lib of one sort of another.... grrrrrr

Othere than that, once I bookstrap the basi

[2017-12-15 05:25] retokromer commented on #4959
Hi bot, I guess this issue is still one.

[2017-12-15 05:31] ebzheng opened #5170 "GHC: `make install` fails with "undefined method `mach_o_executable?'" on RHEL HPC"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [x] If you have a macOS system and can replicate th

[2017-12-15 05:58] iMichka commented on #4959
It is, but I do not have much time to work on this. The `stale` status is sort of correct :)

[2017-12-15 16:09] jwhite007 opened #5172 "libassuan upgrade to 2.5.1 gets rid of at least one necessary lib file"
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] Ran `brew update` and retried your prior step? NA
- [ ] Ran `brew doctor`, fixed all issues and retried your prior step? NA
- [ ] Ran `brew gist-logs <formula>` (where `<formu

[2017-12-15 16:28] tundratim commented on #5107
Yep ... socat refuses to go in and it's ugly.  Deferring for now.

[2017-12-15 17:48] russel commented on #4481
@iMichka Docker and Kubernetes surprise me since they have paid resource, actually so has NumPy. Their cases should be better. The problem is though that issue count is not a good metric of anything, unless it is as a stalled project with no activity at all. Each project has the people who run it and they run it as they want. I'd do it differently, but this is your project to run as you wish, in t

[2017-12-15 17:49] djbclark commented on #5164
The trick was to do

`export HOMEBREW_BUILD_FROM_SOURCE=1
`

at some point within the last couple of months nifty rpath-y bottle-relocation tech with newer glibc was added, and as far as I can tell what was happening is that any formula available as a bottle was triggering the dependency on the glibc formula, which in turn triggered dep on gcc etc.

[2017-12-15 17:49] #5164 closed

[2017-12-16 11:52] iMichka commented on #4481
It is not completely about real "issues". I think these projects just have a huge backlog of feature requests and bike shedding issues lying around; nobody has the will to clean these up. I saw this also in private companies where over the years your could have a huge backlog of customer requests and ideas. I saw once an issue tracker with 10000 bugs, some of them were 15 years old, and devs were

[2017-12-16 12:07] russel commented on #4481
In know that feeling. A project I am active on switched into GitHub but hasn't yet switched the issues because "keep the history". I'm all for ditching it all and starting again, but it is really someone else's project so it's their call.

I had been going to use Swift and hence the original post. I am now unlikely to use Swift hence not investigating the fix for this problem. So if I am the only

[2017-12-16 12:21] iMichka commented on #4481
We do have a pull request open to build bottles for swift since a few days: #5134
I would like to get this working, because on the long run we want to make all packages work.

So I'll see if this is easy to fix. If not it will have to wait.

[2017-12-17 02:19] jwhite007 commented on #5172
```brew upgrade libassuan --build-from-source``` upgrades to 2.5.1 and includes the missing libassuan.so.0. With this I then thought that maybe 2.4.4 was built from source and that the latest release, 2.5.1, is bottled, but no....

[code]

[2017-12-17 07:15] tundratim commented on #5107
@iMichka @sjackman

Well, here you go, boys and girls:

    https://www.tundraware.com/TechnicalNotes/Divorce-Your-Linux-Admin

There may be minor future edits, but the URL should be stable.  Do make reference to it as you like in your docs or other support sites.

Thanks for all the help, and feel free to close this issue as you wish.

[2017-12-17 12:49] #4938 closed

[2017-12-17 16:36] eleonore88 opened #5218 "python3 with tcl tk not installing"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2017-12-18 18:42] iMichka commented on #5218
Hi. Thanks for reporting this issue.

First investigations show that this while loop is running forever: https://github.com/Linuxbrew/brew/blob/master/Library/Homebrew/formula_installer.rb#L443-L465

[2017-12-18 18:57] iMichka commented on #5218
@sjackman Same problem with `brew install python --with-tcl-tk`.
`formulae.unshift(req_dependency.to_formula)`  is called repeatedly and there is an endless loop due to the `xorg` formula.

I could fix this by moving these lines:
[code]
before the `elsif install_requirement_formula?(req_dependency, req, install_bottle_for_dependent` line.
Not sure if this is the right fix. Any opinion on this? I w

[2017-12-18 19:39] iMichka commented on #5172
Hi. I can confirm that the shared libraries (.so files) are missing from the 2.5.1 bottle. Last update was done 8 days ago #5124.
On mac the equivalent files are there (.dylib).

The build log tells us the following: https://circleci.com/api/v1.1/project/github/Linuxbrew/homebrew-core/10917/output/111/0?file=true

[code]

I will need to investigate further to see why this didn't build the .so file

[2017-12-19 21:55] tundratim commented on #5107
@sjackman

Still wrestling the socat installation to the ground.  Is there a best practices way for brew to install specific perl modules so I don't have to do stuff like this:

yum install perl-Module-Load-Conditional

[2017-12-19 22:41] tundratim commented on #4538
I am seeing a similar problem.  It looks like part of the issue is that git it installed and it needs curl.  Curl installed openssl 1.0.1n.  Now I want to install socat and it wants openssl 1.1.0g.

[2017-12-19 23:08] tundratim commented on #4538
@iMichka

OK I think I've found at least part of the problem.  linuxbrew base ships with openssl 1.0.1n.  The socat formula is demanding 1.1.0g.  When brew tries to build this dependency, if the newer openssl fails its unit tests.  There is something about having both of these versions coexist that is causing the issue.

I went into the socat formula and told it to just use the older version and t

[2017-12-20 01:27] sjackman commented on #5218
This issue should hopefully be resolved by PR https://github.com/Linuxbrew/brew/pull/542
I cherry-picked 804393efc466e72ea07b3e38b09d39a5a64d1b78 from 1.4.0.

[2017-12-20 01:29] sjackman commented on #5107
I usually `cpanm` and `local::lib` to install Perl modules. If possible, have only a single Perl interpreter installed. Either the host's or Linuxbrew's. Having both can cause confusion.

[2017-12-20 02:25] sjackman commented on #5218
I've merged PR https://github.com/Linuxbrew/brew/pull/542.
Try
[code]
and see whether that fixes this issue.

[2017-12-20 22:43] sjackman commented on #4198
I believe this cyclic dependency between `glibc` and `gawk` bug is fixed by PR https://github.com/Linuxbrew/homebrew-core/pull/5252.

[2017-12-21 00:42] Juniorn1003 opened #5253 "Brew:CommandNotFound"
I installed brew by : sudo apt-get install build-essential curl file git
in Debian, but it does says no command found when I try to use the brew command.
Feel free to help me out.

[2017-12-21 06:58] iMichka commented on #5253
Hi. This issue should have been filled here: https://github.com/Linuxbrew/brew

On that page there is also a wiki with install instructions.

A log file of the installation process would be great. Also, always fill out the issue template. I don’t have enough information to help you.

[2017-12-21 10:01] zmwangx commented on #4198
Cool, thanks.

[2017-12-21 14:29] JuPlutonic commented on #5127
How I understand you want to try linuxbrew and don't have gawk's binaries
I use gawk from GNU Gawk site. I unpacked it to my home directory and run in console inside this directory. When I used `/.configure`command and `make` command afterwards.
Before trying LinuxBrew add ~/gawk-2.4.0 to PATH before all other paths.
And how at **current** moment the couple of lines in ~/.linuxbrew/Homebrew/Librar

[2017-12-21 16:18] TiZ-EX1 commented on #5132
I have a similar error, but I'm failing at a different step; it thinks that openssl is not available. Like you, I'm installing in a non-standard location. It seems like alternative installs are a great way to expose problems with formulae!

https://gist.github.com/417ec06cda2550051f0dc3200175f3a2

[2017-12-21 17:39] sjackman commented on #5127
The easiest solution is to install GNU Gawk using the host's package manager. If you have a systems support group, I'd suggest asking them to install GNU Gawk.

To install GNU Gawk before `glibc`, try…
[code]
The above is not tested. Please report back whether it works for you, or the error message if it does not.

[2017-12-21 18:05] #4778 closed

[2017-12-21 19:34] JuPlutonic commented on #5127
@sjackman I will see it by reinstalling linuxbrew on clear profile

[2017-12-22 07:19] iMichka commented on #5172
We had the same problem with the libtiff bottle. a bottle rebuild should fix this. I’ll do that when I come back from work this evening.

[2017-12-22 07:21] iMichka commented on #5127
Please tell us if this worked. I yes, I think it would be good to document this way of installing gawk in our wiki.

[2017-12-22 21:25] iMichka commented on #5172
Fixed with #5270

[2017-12-22 21:25] #5172 closed

[2017-12-22 22:16] jwhite007 commented on #5172
@iMichka Thank you.

[2017-12-22 23:17] sjackman commented on #5127
`mawk` has fewer dependencies than `gawk` and is the default AWK implementation on Debian systems. I wonder whether it could be used instead of `gawk`.

@JuPlutonic Does your system have any `awk` installed? `which -a awk`

[2017-12-23 16:58] sjackman commented on #4388
@hangong

Though I don't know what was causing it, this particular error message should not occur with Linuxbrew 1.3.9.

[2017-12-25 11:59] zijuexiansheng opened #5294 "Older or fixed version of cmake is required."
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [ ] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2017-12-25 19:37] iMichka commented on #5294
Hi. Linuxbrew just follows the concepts from Homebrew. So these decisions were taken upstream, and we try to follow them as much as possible, to keep the same behaviour under Linux.

We prefer you to use `brew update && brew upgrade`, to keep everything up to date, instead of upgrading just a single package.

If you installed brew under /home/linuxbrew/, brew will download precompiled binaries, so

[2017-12-25 19:37] #5294 closed

[2017-12-25 19:38] iMichka commented on #5253
Closing this issue as the issue template was not filled out and we got no answer in 5 days. Please open your issue on the right issue tracker: https://github.com/Linuxbrew/brew

[2017-12-25 19:38] #5253 closed

[2017-12-25 19:43] iMichka commented on #5132
The actual error is:
[code]

Yes. Even on the mac version these are sometimes broken. We do not support these installations as much as standard ones. Basically, if you do exotic things, we can not provide much support because we do not have time to fix everything. So you are a little left alone for that kind of problems. @TiZ-EX1 as you encounter a different problem at a different step, you should

[2017-12-26 01:04] zijuexiansheng commented on #5294
Actually

[2017-12-26 08:06] JuPlutonic commented on #5127
after:
[code]
Got `Error: No such file or directory @ realpath_rec - /home/zhevlakov/.linuxbrew/bin/gcc-4.9`
_//////////////_
@sjackman
This is the output of `which -a awk`:
[code]
`ls -l $(which awk)`:
[code]

[2017-12-26 08:14] iMichka commented on #5294
Actually, that would be implementing a `cmake@3.9` formula. We have that for some formulae, but this is often up to Homebrew to decide what kind of formula they want to have and to keep around. We personally do not like versioned formulae very much.

In your case the best thing to do would be to host this formula on your own tap and to maintain it yourself. This should not be too difficult.

[2017-12-26 09:15] JuPlutonic commented on #5127
`brew install -s --ignore-dependencies gawk`
[gist](https://gist.github.com/bb66b4a76f14f385e793b8645e807a6f)
[code]

[2017-12-26 09:34] JuPlutonic commented on #5127
with editing /home/zhevlakov/.linuxbrew/Homebrew/Library/Taps/homebrew/homebrew-core/Formula/glibc.rb
changed 19 line to ` which "gawk"` I again can overcome gawk problem (because I have compiled /home/NNN/gawk-4.2.0/awk) on my clean linuxbrew installation.

[2017-12-26 10:33] JuPlutonic commented on #425
Brew install --force-bottle coreutils is the remedy for me now.
I will test it with my home PCs and see if it reproducable...

[2017-12-27 03:33] enzochiau opened #5306 "ld error when try to install krb5"
Try to install krb5 with `brew install krb5`.

I got error message as below:

    ==> Downloading https://kerberos.org/dist/krb5/1.16/krb5-1.16.tar.gz
    ######################################################################## 100.0%
    ==> ./configure --disable-silent-rules --prefix=/home/trading/echi/.linuxbrew/Cellar/krb5/1.16
    ==> make
    Last 15 lines from /export/home/echi/.cache/Homeb

[2017-12-27 04:27] enzochiau commented on #1941
I just know I am login with centrify user and Current DC.

[2017-12-27 10:45] iMichka commented on #1941
I am not sure how we can help you. You should double check with either the `centrify` developers, or the `emacs` developers, or your sysadmin.

`emacs` is probably properly installed on your system. This is a "runtime" problem. Your use case is very specific to your setup, so not sure how much time we can spend debugging this.

[2017-12-27 21:49] iMichka commented on #4914
Closing as this is fixed.

[2017-12-27 21:49] #4914 closed

[2017-12-27 22:16] iMichka commented on #5074
Let's see if we can build a bottle: #5322

[2017-12-27 22:34] alexstaj opened #5323 "upgrade sratoolkit fails"
[code]

[2017-12-27 23:40] paulprovost commented on #5132
I have the same error on Ubuntu 16.04.3 LTS. My install is at `~/.linuxbrew`.

Did you guys solve it?

Now, why `systemd` gets pulled in when I'm installing `notmuch` is another question, but well...

[2017-12-28 05:55] iMichka commented on #5132
Hi. No, nobody fixed this and nobody is working on this.

Do you install in /home/linuxbrew/.linuxbrew? Or is `~/.linuxbrew`  somewhere else for you (I guess yes, as `systemd` is probably being recompiled for you.

As why the dependency gets pulled may depend if you compiled some packages manually with some options. I also know that sometimes a dependency or another gets pulled even if not needed:

[2017-12-28 06:03] iMichka commented on #5074
I just built a bottle and it worked. Please update and try again.

[2017-12-28 15:40] paulprovost commented on #5132
`~/.linuxbrew` is just that, not `/home/linuxbrew/.linuxbrew`. I guess I could add a `linuxbrew` user and group and add my user to the group.

[2017-12-28 19:21] iMichka commented on #5112
Pull request opened here: #5328

[2017-12-28 19:29] iMichka commented on #5132
I think there is a patch for this bug: https://bugs.archlinux.org/task/54694

This is fixed in docbook-xsl 1.79.2-2. The sourceforge page shows that 1.79.1 was the last release, but there seem to be a GitHub repo with a newer version: https://github.com/docbook/xslt10-stylesheets/releases.

Arch linux is at 1.79.2 (https://www.archlinux.org/packages/extra/any/docbook-xsl/), and debian/ubuntu is st

[2017-12-28 19:38] iMichka commented on #5112
Fixed by #5328

[2017-12-28 19:38] #5112 closed

[2017-12-28 19:55] iMichka commented on #5323
Hi. Thanks for reporting this.

The actual build error is (test in a local docker container):
[code]

[2017-12-28 19:56] iMichka commented on #5323
Similar situation here: https://github.com/PacificBiosciences/blasr/issues/4#issuecomment-45689646
This may help fixing this.

[2017-12-28 20:26] iMichka commented on #5033
Fixed by #5326

[2017-12-28 20:26] #5033 closed

[2017-12-28 21:45] iMichka commented on #5170
There is a pull request open for that: #5260

[2017-12-28 21:59] iMichka commented on #5090
I'm working on a PR here: #5311
`crystal-clang` uses `llvm` now instead of `llvm@4`

[2017-12-29 18:46] #4995 closed

[2017-12-29 21:23] iMichka commented on #1343
This issue is pretty old. `gmp@4` has a bottle and should be fine. `gcc@4.9` does not have a bottle for the moment (see #5276); but should be fine. Closing here.

[2017-12-29 21:23] #1343 closed

[2017-12-29 21:25] iMichka commented on #796
I'll close this issue as nobody has been working on this since a year now. Pull requests are welcome to fix this.

[2017-12-29 21:25] #796 closed

[2017-12-30 00:52] unixfox opened #5339 "Error with the installation of gcc"
I was trying to install "gcc" when I got this error:
[code]

Brew is up-to-date.

Technical information about my system:
- OS: `Debian 8.8`
- Glibc version: `Debian GLIBC 2.19-18+deb8u10`
- brew version:
[code]

[2017-12-30 08:43] tirohia opened #5340 "Jasper install fails, no error message."
I am attempting to install gts on a Linux Mint 18 machine, it's in a anaconda 2.7 environment, freshly installed, with Biopython. I need gts so that I can install graphviz with gts, apparently needed for a piece of code off github that I'm trying to use. I'm told I should be able to use:
[code]

This is definitely a problem with one particular brew install. Other brew commands run fine. brew insta

[2017-12-30 11:17] iMichka commented on #5339
Hi. Could you fill out the full issue template. Especially `brew doctor` and `brew gist-logs gcc`. Thanks.

[2017-12-30 12:00] iMichka commented on #5340
Hi. Thanks for reporting this. I can not reproduce in a clean Ubuntu build env.
The log file does not really help.

Can you try to run `brew install jasper -sv` and see if there is more output? Thanks.

[2017-12-30 12:03] iMichka commented on #5306
Hi. Thanks for reporting. I see that there is a flag for `verto` here: https://web.mit.edu/kerberos/krb5-1.13/doc/build/options2configure.html

But we do not have a `libverto` formula, so I am unsure how they were able to build this on mac.

[2017-12-30 12:56] tirohia commented on #5340
It looks to be mostly a repeat of what's in the gist log files. The only thing that jumps out at me here is that it says cmake failed to execute, which is sort of and error message.
[code]

[2017-12-30 14:00] unixfox commented on #5339
Hello @iMichka!
Here you are:
- `brew doctor`:
[code]
- `brew gist-logs gcc`:
[code]

[2017-12-31 02:53] ezchi commented on #5306
Installed libverto with YUM:

    libverto.x86_64                       0.2.5-4.el7                @pub-base
    libverto-devel.x86_64                 0.2.5-4.el7                @pub-base
    libverto-tevent.x86_64                0.2.5-4.el7                @anaconda/7

run `confiure` command with `--with-system-verto`, still can't detect libverto.
with `--without-system-verto`, it doesn't complain

[2017-12-31 23:00] TiZ-EX1 commented on #5074
Okay, that's cool, but... I'm actually in an alternative install location so as much as I appreciate that you built a bottle, it doesn't help me; I still have to build from source and it still fails for me. What did you change in your system or in the formula to be able to build it?

[2018-01-01 06:04] fcying opened #5345 "qt 5.9.3 static version doesn't build against Linuxbrew's zlib"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2018-01-01 08:29] iMichka commented on #5074
I don’t know, it correctly build in a clean environment. The bottle is just a proof of concept for me that it worked.

You are still getting the same error?

[2018-01-01 21:10] alexstaj commented on #5323
hi thanks for the response but how do I implement the make static argument with regards to brew upgrade sratoolkit?

[code]

[2018-01-01 22:09] iMichka commented on #5306
We do not support linking against that system library, because when we build bottles, we can only link against our own libraries.

I do not think adding a verto formula is needed for the moment. I opened a patch upstream to add the flag: https://github.com/Homebrew/homebrew-core/pull/22328

Once this is merged, it will take 1 day or 2 to get this merged to linuxbrew. As you said, it fixes the buil

[2018-01-02 07:09] iMichka commented on #5345
Hi. I is unclear to me if you are building breewed qt or trying to build qt from source by yourself.

Also, the error message you are getting is about libpng.

[2018-01-02 07:22] fcying commented on #5345
I'm trying to build qt from source by myself.

I try `brew install libpng or libpng@1.2`, build failed also.

maybe brew's zlib version against qt's libqtlibpng.a?

[2018-01-02 22:10] sjackman commented on #5127
Thanks for the troubleshooting, @JuPlutonic, and for the workaround that worked for you: changing `!which("gawk").nil?` to `which "gawk"`. The following workaround may work as well:
[code]
I'm glad that we have workarounds. I don't have a perfect fix for this issue yet.

[2018-01-02 22:49] iMichka commented on #5345
We do provide a brew `qt`, why not use that? We did not add a static build to the formula though. So this is completely untested.

I guess that ./configure may be mixing the wrong png/zlib libraries. You need to read the `qt` doc to find out how to pass the right paths to ./configure. Probably just by setting the `-I` and `-L` flags correctly.

[2018-01-02 23:05] iMichka commented on #5340
It would be interesting to repeat these steps manually outside of homebrew:
[code]

If this fails the same way; the build error needs to be reported to the jasper developers, because there is nothing we can do about this.

[2018-01-03 05:46] iMichka commented on #5339
And `brew gist-logs glibc`, and  `brew config`.

[2018-01-03 11:34] mfalkiewicz opened #5363 "Openmotif make fails"
# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate the problem on macOS with Homebrew, please report the issue to [Homebrew/core](https://github.

[2018-01-03 16:13] TiZ-EX1 commented on #5074
Yes. The clean environment you mention is just Ubuntu 16.04.3, right? Because that's what I'm running.

[2018-01-03 18:44] unixfox commented on #5339
https://gist.github.com/02bfe8279faae14cdbcaf87bfea018ad
Brew config:
[code]

[2018-01-03 20:16] iMichka commented on #5306
Should be fixed with d2842337ee72ba82e018537f2a44bf499b915947.

[2018-01-03 20:16] #5306 closed

[2018-01-03 20:17] iMichka commented on #5170
Fixed by #5260

[2018-01-03 20:17] #5170 closed

[2018-01-03 20:35] tundratim opened #5373 "Reccurence Of Problem With nload"
I continue to work on a linuxbrew install to an arbitrary filesystem location.  I though I had this handled, but nload is giving me fits.  Gist here:

https://gist.github.com/anonymous/f767d1138c68f80ff81b5b484bb58102

System perl, autoconf, automake, installed.  Also there is a perl instance within the brew tree

[2018-01-03 20:49] iMichka commented on #5074
Could you try:
`brew uninstall apr-util && brew install apr-util -s`.
And then try to install `httpd`

I found that discussion that may explain why it does not work:
https://stackoverflow.com/questions/38315452/compiling-linking-issue-with-httpd-2-4-and-apr-ldap-undefined-reference

[2018-01-04 07:39] fcying commented on #5345
brew qt can not installed, it dependenci berkeley-db, and python2.7 need berkeley-db@4
[code]

I make qt static version by use `-L` to link system's zlib, build ok.

Can brew support another zlib version for selection? I saw the system zlib version is 1.2.8, brew zlib version is 1.2.11

[2018-01-04 12:26] lukauskas commented on #5339
It looks like there is a circular dependency between `gcc` and `glibc` when installing the latter from source (automatically triggered when linuxbrew is in user's home directory, and not linuxbrew home directory). Specifically, `gcc` needs `glibc` to be installed, while the latter needs `gcc-4.9`.

On my system I was able to work this arround with temporarily symlinking the system-provided `gcc-4.

[2018-01-04 14:37] unixfox commented on #5339
Thank you @lukauskas, this fixed my issue.

[2018-01-04 18:51] sjackman commented on #5339
Thanks for the work around, @lukauskas. Glad to hear that you got it working.

[2018-01-04 18:54] sjackman commented on #5339
[code]
@unixfox Hi, Emilien. Please report…
[code]

[2018-01-04 19:17] unixfox commented on #5339
@sjackman
[code]

[2018-01-04 19:20] sjackman commented on #5339
Strange. I'm not sure what's gone awry, but it should be resolved by…
[code]

[2018-01-04 19:22] iMichka commented on #5345
For `qt`, this is a new bug: I opened a PR for that here: #5378

Not directly. You would have to write a `zlib@1.2.8` formula. We prefer that everybody uses the newest version.

[2018-01-04 20:04] unixfox commented on #5339
I consider my issue fixed with the @lukauskas's solution.
Thank you for your help both of you.

[2018-01-04 20:04] #5339 closed

[2018-01-04 20:05] sjackman commented on #5339
Thanks for your help, Saulius!

[2018-01-04 22:18] iMichka commented on #5373
Hi. Thanks for reporting this.

The error is:

[code]

We never tried to build `nload`. Let's see if I can reproduce this here: #5387

[2018-01-04 22:19] iMichka commented on #5218
I wanted to wait that brew 1.4.2 has been merged, as there were some changes to the dependency tree setup. I'll give it a second try soon.

I already found out that removing the `:x11` requirement from the `tcl-tk` formula fixes it.

[2018-01-05 03:28] fcying commented on #5345
Thanks, I will learn to write a formula.

[2018-01-05 03:35] #5345 closed

[2018-01-05 05:11] ebzheng commented on #5170
Thanks for the work!

Weirdly, I still encounter problems, but I haven't yet been able to do enough troubleshooting to justify either reopening or starting a new issue.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-05 05:22] tseemann opened #5388 "dmd | Error: No such file or directory - generated/osx/release/64/dmd"
https://gist.github.com/0e4d76c7c56a15a31e6ed109c4f73a35

[code]

[2018-01-05 05:49] iMichka commented on #5170
Please open a new issue for that when you have done more troubleshooting. Thanks

[2018-01-05 05:56] iMichka commented on #5388
Fixed by #5384

[2018-01-05 05:56] #5388 closed

[2018-01-05 06:32] iMichka commented on #5345
The qt dependency problem has been fixed with #5386.

Why would you need an older zlib version? It is older and has probably more bugs. I do not recommend doing this (even if it is technically possible to write a formula for this). Please note that we will not accept that formula in Linuxbrew.

[2018-01-05 10:50] lukauskas commented on #5339
No problem, both.

Though are we sure the issue should be closed?

Surely linuxbrew should be able to detect system's `gcc-4.9` on it's own, without the workaround ?

[2018-01-05 11:17] andb0t commented on #4860
I'll follow this up as soon as I'm back at my Ubuntu workstation, should be in a week from now!

[2018-01-05 15:38] andrewyatz commented on #5323
I've seen a similar issue with sratoolkit just now

[code]

Same sort of area but little more information than what you've seen here. The `.cc` log files bring little extra information

[2018-01-05 15:40] alexstaj commented on #5323
Thanks for the update Andrew.  Any idea what arguments I need to add to
brew install sratoolkit to get it to install properly?

On Jan 5, 2018 10:38, "Andrew Yates" <notifications@github.com> wrote:

[2018-01-05 16:00] andrewyatz commented on #5323
Not at all sorry. I'm totally lost as to why it's happened as well as the last version of the sratoolkit (2.8.2-1_1 for me) was fine.

[2018-01-05 16:11] andrewyatz opened #5395 "TBB compilation issues because it cannot find Python.h"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2018-01-05 16:35] iMichka commented on #5323
Actually it is weird that it tries to make a static linkage here.

Can somebody check if the szip and the hdf5 installations have .so files (and not only .a files)?

[2018-01-05 16:41] andrewyatz commented on #5323
I can check on mine. Lots of .so files

[code]

[2018-01-05 16:53] andrewyatz opened #5396 "Cannot compile harfbuzz due to seg fault"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2018-01-05 17:30] andrewyatz commented on #5395
I did find this bit of information from Homebrew/brew#3612 which explains partly the deprecation of using `:python` over "python". So I guess the main question now is why did the old method work and found a version of `Python.h` and the new method using brew's Python not find the headers.

[2018-01-05 17:37] andrewyatz commented on #5395
Okay another bit. I edited the formula to bring in some more information about the python being used with `which`. This is the output from the formula under normal circumstances using `"python"` and this uses `/usr/bin/python`:

[code]

When I switch to `:python` it picks up the Linuxbrew Python:

[code]

[2018-01-05 17:43] iMichka commented on #5395
It should use the python2 executable instead of python in the line with the setuptools call. Can you post your brew config?

There were some changes regarding all this in homebrew so we may still have some bugs in Linuxbrew. It will take a few days until everything settles down and works correctly. I hope we get this sorted out.

[2018-01-05 17:50] andrewyatz commented on #5395
Sure thing

[code]

I did a bit more sniffing around and also came to a similar conclusion that there's no such thing as a python executable with the brew installed version of python but there is a python2.

Just as an aside https://github.com/Linuxbrew/homebrew-core/blob/master/Formula/tbb.rb#L38 specifically calls out to using `python`. Is that incorrect?

[2018-01-05 17:55] iMichka commented on #5395
Yes. Since brew 1.4.0. Can you try with python2?

If we make a pull request, we need to write this like: Os.mac? ? ‘python’ : ‘python2’

Written from my phone so the code needs to be tweaked to work. Didn’t find all the right chars.

[2018-01-05 18:02] andrewyatz commented on #5395
[code]

That's done it!

[2018-01-05 18:05] iMichka commented on #5395
Can you open a pull request for this? The good thing is that we do not need to rebuild the bottles for this.

I will need to check but I bet that there are more bugs like these in other formulae.

[2018-01-05 18:09] sjackman commented on #5339
It is supposed to automatically use `/usr/bin/gcc` when it's available. It creates automatically a symlink from `/usr/bin/gcc` to `$HOMEBREW_PREFIX/bin/gcc-4.9`. As far as I know, that works. Could you try in a fresh installation?

[2018-01-05 18:42] ebzheng opened #5397 "Follow-up: GHC `make install` still fails on RHEL HPC, but with new Array to String typing error"
# Summary
This is a follow-on to #5170 - I think the original issue was resolved by #5260, but something else seems to have been uncovered.

The error (encountered in trying to install GHC as a dependency of git-annex) on a RHEL HPC resource (hence, no sudo availability) now yields the following new error:

`Error: no implicit conversion of Array into String`

I'm honestly baffled by why this didn

[2018-01-05 20:14] lukauskas commented on #5339
It didn't work yesterday. I only discovered this bug because I was doing a
fresh installation yesterday. I don't think the /usr/bin/gcc is 4.9 on that
system though, I can't check right now, but I think it's an older version.
Could that be the problem?

On Fri, 5 Jan 2018, 19:09 Shaun Jackman, <notifications@github.com> wrote:

[2018-01-05 20:32] sjackman commented on #5339
`glibc` requires GCC ≥ 4.7 to build. If it's older than that, then yes, that could be the problem.

[2018-01-05 20:36] iMichka commented on #5323
I started a build here just to see what happens: #5399

[2018-01-05 21:35] iMichka commented on #5395
Actually we have another patch underway (https://github.com/Linuxbrew/brew/pull/555). We will test that and push the fix tomorrow if it fixes the problem in a more general way.

[2018-01-05 21:50] andrewyatz commented on #5395
That’s fantastic news and it looks like it’ll be a much more widely
applicable than manually patching loads of formulas
On Fri, 5 Jan 2018 at 21:37, Michka Popoff <notifications@github.com> wrote:

[2018-01-05 22:44] iMichka commented on #5373
I did not stumble on that error but a different one. I added a patch and built a bottle: #5387

Can you please try again?

[2018-01-06 00:16] tundratim opened #5407 "openssl@1.1 will not build"
Gists here:

https://gist.github.com/anonymous/94427978e6f078bdcc2ea3d6b0209dd8

[2018-01-06 00:28] Char-Aznable opened #5408 "systemd failed to compile because configure is picking up old version of libgpg-error"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate the

[2018-01-06 06:42] tundratim commented on #5407
Of interest:  It is possible to get it installed with:

brew install openssl@1.1 --without-test

This suggests that the tests need to be rethought ...

[2018-01-06 10:18] iMichka commented on #5408
Hi. Cool that you found that out. Would you like to submit a pull request to fix this? You will also need to bump the revision of systemd so that a new bottle is built.

For the other dependencies, it would be also great to find a way to tell systemd to use the right ones, and not the ones from `/usr/bin`. But I guess that configure is just looking at what is in the path?

[2018-01-06 12:34] iMichka commented on #5407
Hi. Thanks for reporting this.

The error is:
[code]

We could vendor the perl module (Conditional.pm), like in the `vit` formula for example, and see if it helps. Could you give this a try?

If not we could disable the `make test` call on Linux.

[2018-01-06 15:35] tundratim commented on #5107
Largely resolved.  A few corner cases remain which I've assigned to new issues.  Closing.

[2018-01-06 15:35] #5107 closed

[2018-01-06 16:00] tundratim commented on #5407
@iMichka Sorry, I am pretty new to linuxbrew.  Not sure what this means: "vendor the perl module"

Happy to help otherwise.

[2018-01-06 16:06] fcying commented on #5345
I update to the laster brew version.
modify `qt.rb` : add `-static` and remove `RPATH`, it can build static version, not need an older zlib version now,  thanks~

[2018-01-06 17:05] sjackman commented on #5107
Glad to hear that you've got it working to your satisfaction, Tim!

[2018-01-06 17:52] tundratim commented on #5107
@sjackman I've updated the docs at the links I sent previously and they are largely stable now.  Feel free to reference both the article and the automation support repo in your blogs other other linuxbrew promotional stuff.

tl;dr  There is now a repeatable process for building linuxbrew  at any target location in the filesystem for which you have access - build once, distribute tarball everywhere

[2018-01-06 18:02] sjackman commented on #5107
Cool. Did you check out building bottles for specific prefixes `brew install --build-bottle && brew bottle`, and was it useful?

[2018-01-06 20:07] tundratim commented on #5107
@sjackman Nope.  My goal was to package *an entire tools suite* that is deployable with automation like tsshbatch or ansible.   Once I figured out the dependencies to do this, I just created a makefile that builds both an initial bootstrap instance, and then that instance is used to build a distribution tarball with all the packages I want precompiled in place *at the desired target directory loca

[2018-01-06 21:15] sjackman commented on #5107
Is that `Makefile` in GitHub, and could you point me to it?

[2018-01-06 21:16] sjackman commented on #5107
Is it possible for you to use `/home/linuxbrew/.linuxbrew` as the installation location?

[2018-01-06 23:16] tundratim commented on #5107
@sjackman It's on our own git server:

https://gitbucket.tundraware.com/tundra/tools-builder

While we can install at /home/linuxbrew/.linuxbrew, we don't want to, primarily because we want this to work for users without any root access and don't want to have to wait for SAs to create that dir.  The approach I took allows the installation to be built anywhere you have write access, so long as you

[2018-01-06 23:28] sjackman commented on #5107
Nice! https://gitbucket.tundraware.com/tundra/tools-builder/blob/master/makefile

[2018-01-08 02:20] Char-Aznable opened #5431 "wget: Error: wget contains conflicting version recursive dependencies: openssl, openssl@1.1"
# Please fill out the issue checklist below, and provide all of the requested information.

# Please always follow these steps:
- [x] Confirmed this is a problem with `brew install`ing one, specific formula and not every time you run `brew`? If it's a general `brew` problem please file this issue at https://github.com/Linuxbrew/brew/issues/new.
- [ ] If you have a macOS system and can replicate th

[2018-01-08 04:59] TiZ-EX1 commented on #5074
That didn't work. However, for some reason, building a bottle of httpd on my personal server with the same alternative location, `/xusr/linuxbrew`, *did* work. I mainly wanted to build llvm there since my work computer can't hack it and it takes forever anyways, but I tried httpd there and it worked. My personal server doesn't have any PPAs so it's cleaner than my laptop and work computer. I wonde